.toolbar {
  box-sizing: border-box;
  display: flex;
  align-items: start;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.2rem;

  background-color: light-dark(var(--gray-50), var(--gray-700));

  .button-group {
    display: inline-block;
    padding: 0 0.2rem;
  }

  .button-group ~ .button-group {
    border-left: 0.1rem solid light-dark(var(--gray-100), var(--gray-300));
    padding-left: 0.2rem;
  }

  .tool-button {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    font-size: 0.9rem;
    text-align: center;
    background-color: light-dark(var(--gray-50), var(--gray-700));;
    border: 0.1rem solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all .3s ease-in;
    background-size: cover;
    background-position: center;

    .icon {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .tool-button:hover,
  .tool-button:focus {
    background-color: light-dark(var(--gray-100), var(--gray-500)) }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 10rem;
      background-color: light-dark(var(--gray-100), var(--gray-500));
      box-shadow: 1px 1px 2px light-dark(var(--gray-500), var(--gray-700));
      padding: 0.2rem;
      z-index: 1;

      a {
        display: inline-block;
        color: light-dark(var(--gray-500), var(--gray-300));
        text-decoration: none;
        padding: 0.2rem;
      }

      a[href]:hover,
      a[href]:focus {
        /* color: light-dark(var(--gray-300), var(--gray-300)); */
        background-color: light-dark(var(--gray-300), var(--gray-700));
      }
    }

    .dropdown-content.show {
      display:block;
    }
  }
}

.tool-button {
  &.text-color {background-image: url('../images/toolbar/text-color.png'); }
  &.copy { background-image: url('../images/toolbar/copy.png'); }
  &.redo { background-image: url('../images/toolbar/redo.png'); }
  &.undo { background-image:url('../images/toolbar/undo.png') }
  &.text-size { background-image:url('../images/toolbar/text-size.png') }
  &.bold { background-image: url('../images/toolbar/text-bold.png'); }
  &.italic { background-image: url('../images/toolbar/text-italic.png') }
}

@media (prefers-color-scheme: dark) {
  .tool-button {
    &.text-color {background-image: url('../images/toolbar/text-color-dark.png'); }
    &.copy { background-image: url('../images/toolbar/copy-dark.png'); }
    &.redo { background-image: url('../images/toolbar/redo-dark.png'); }
    &.undo { background-image:url('../images/toolbar/undo-dark.png') }
    &.text-size { background-image:url('../images/toolbar/text-size-dark.png') }
    &.bold { background-image: url('../images/toolbar/text-bold-dark.png'); }
    &.italic { background-image: url('../images/toolbar/text-italic-dark.png') }
  }
}

.color-chip {
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  margin: 0;
  padding: 0;
}