.server-group-table {
  .main-group {
    td { font-weight: bold; }
  }
  td { vertical-align: middle;}

  .pie.active-server {
    --width: 2rem;
    --border:0.15rem;
    font-size: 0.9rem;
  }
  .main-group .pie.active-server {
    --color: var(--miku-dark-red);
  }
}

