.perk-row {
  display: flex;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
  justify-content: start; /* left */
  align-content: start; /* top */
  flex-direction: row;

  .perk-desc {
    flex-grow: 1;
  }

  .prev-value {
    flex-grow: 0;
    text-align: right;
    width: 6rem;
    color: var(--light-neutral);
  }

  .prev-value::after {
    content: "»";
    display: inline-block;
    width: 1rem;
    padding: 0 0 0 .5rem;
  }

  .this-value {
    flex-grow: 0;
    text-align: right;
    width: 4rem;
  }
}

.perk-row.na {
  color: var(--light-neutral);
}

.perk-row.changed {
  color: var(--miku-red);
}

.unverified:before {
  content: '?';
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
  margin-right: 0.2rem;
  border: 1px dotted var(--miku-red);
  border-radius: 0.2rem;
  color: var(--miku-red);
}

.unverified {
  color: var(--miku-red);
}

.vip-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
}

table.vip {
  height: 100%;
  th { width: 5rem; }
  th.desc-col { width: 24rem; }
  td.na { background-color: var(--pale-neutral); }
}
