div.result-wrapper {
  background-color: white;
  padding: 0rem;
  width:fit-content;
  border-radius: 1rem;
}

.result-table th,
.result-table td { padding: 0.5rem; }
.result-table { border-collapse: collapse; position: relative;}
.result-table th { background-color: #485363; color: white; }

.result-table th:first-child { border-radius: 0.8rem 0 0 0; }
.result-table th:last-child  { border-radius: 0 0.8rem 0 0; }

.result-table thead tr th:first-child { width: 5rem; }
.result-table thead tr th:nth-child(2) { width: 3rem; }
.result-table thead tr th { width: 8rem; }

.result-table tr.new-section { border-top: 0.1rem dashed #638ad3; }

.phase-points {
  text-align: right;
  padding-right: 1rem;
  background: linear-gradient(to right, #448bd1 0%, #7ac1eb 100%);
  background-position: left center;
  background-repeat: no-repeat;
}

.final-points {
  text-align: right;
  padding-right: 1rem;
  background: linear-gradient(to right, #8d42a1 0%, #d386d4 100%);
  background-position: left center;
  background-repeat: no-repeat;
}

.mk-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 1rem;
  row-gap: 1.5rem;
  /* justify-content: space-between; */
}

.mk-phase-container {
  /* background-color: #fb9145; */
  padding: 0rem;
  width:fit-content;
  border-radius: 0.5rem;
  border: 0.1rem solid #b42328;
}

.point-table th,
.point-table td { padding: 0.2rem; }
.point-table .normal { color: inherit; }
.point-table .spend { color: #285d8a; font-size: 0.8rem;}
.point-table .rally { color: #75338d; }
.point-table tr td:first-child { min-width: 20rem; }
.point-table tr td:last-child { text-align: right; min-width: 5rem; }

/*
 green : 28501f 3b7b2b 5db552 72cf6c
 blue  : 182a3b 285d8a 448bd1 7ac1eb
 purple: 522c60 75338d 8d42a1 d386d4
 gold  : 644625 ae5b21 e0bb50 f6db79
 gray  : 1d2231 3a4361 485363 638ad3
*/