.mk-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.mk-phase-container {
  padding: 0rem;
  width:fit-content;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--miku-red);
}

.point-table th,
.point-table td { padding: 0.2rem; }
.point-table .normal { color: inherit; }
.point-table .spend { color: #285d8a; font-size: 0.8rem;}
.point-table .rally { color: #75338d; }
.point-table tr td:first-child { min-width: 20rem; }
.point-table tr td:last-child { text-align: right; min-width: 5rem; }

/*
 green : 28501f 3b7b2b 5db552 72cf6c
 blue  : 182a3b 285d8a 448bd1 7ac1eb
 purple: 522c60 75338d 8d42a1 d386d4
 gold  : 644625 ae5b21 e0bb50 f6db79
 gray  : 1d2231 3a4361 485363 638ad3
*/

.tabbed-table-wrapper-head {
  padding: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--miku-dark-red);
  color: #fec728;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform:capitalize;
  text-align: left;
  outline: none;
}

.tabbed-table-wrapper-content {
  border: 0.1rem solid var(--miku-dark-red);
  border-radius: 0 0 0.5rem 0.5rem;
  background: linear-gradient(to bottom, #fb9145, #fb9145 2rem, white 8rem, white); 
}

.tabbed-table-tab-bar .tab {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  border: none;
  cursor: pointer;
  color: #fec728;
  text-shadow: 0px 1px 1px #000;
  background-color: var(--miku-dark-red);
}

.tabbed-table-tab-bar .mk-tab:hover {
  background-color: var(--miku-red);
}

.tabbed-table-tab-bar .focused,
.tabbed-table-tab-bar .focused:hover {
  color: var(--miku-dark-red);
  background-color: #fb9145;
}

.tabbed-table-tab-bar {
  margin: 0;
  background: var(--miku-dark-red);
  color: #fec728;
}

.tabbed-table-content {
  margin: 0;
  padding: 0.5rem;
}

.sp-result-table th,
.sp-result-table td,
.mk-result-table th,
.mk-result-table td {
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

.sp-result-table,
.mk-result-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.sp-result-table th,
.mk-result-table th {
  background: var(--miku-dark-red);
  color: #fec728;
  font-weight: normal;
}
.sp-result-table td,
.mk-result-table td {
  background: white;
  color: var(--miku-dark-red);
  font-weight: normal;
}

span.vs-server {
  display: inline;
}

.sp-result-table thead tr th:first-child { width: 4rem; }
.sp-result-table thead tr th:last-child { width: 0.5rem; }
.sp-final-col { width: 16rem; }
.sp-result-table thead tr th { width: 8rem; }
.sp-result-table tr.new-section { border-top: 0.1rem solid var(--miku-dark-red); }

.mk-result-table thead tr th:first-child { width: 4rem; }
.mk-result-table thead tr th:last-child { width: 0.5rem; }
.mk-final-col, .up-final-col { width: 16rem; }
.mk-result-table thead tr th { width: 8rem; }
.mk-result-table tr.new-section { border-top: 0.1rem solid var(--miku-dark-red); }

.mk-result-table.display-final .mk-final-col { display: table-cell; }
.mk-result-table.display-final .up-final-col,
.mk-result-table.display-final .mk-phase-1-col,
.mk-result-table.display-final .mk-phase-2-col,
.mk-result-table.display-final .mk-phase-3-col,
.mk-result-table.display-final .mk-phase-4-col,
.mk-result-table.display-final .mk-phase-5-col,
.mk-result-table.display-final .mk-phase-6-col { display: none; }

.mk-result-table.display-phase-1-3 .up-final-col,
.mk-result-table.display-phase-1-3 .mk-final-col,
.mk-result-table.display-phase-1-3 .mk-phase-4-col,
.mk-result-table.display-phase-1-3 .mk-phase-5-col,
.mk-result-table.display-phase-1-3 .mk-phase-6-col { display: none; }
.mk-result-table.display-phase-1-3 .mk-phase-1-col,
.mk-result-table.display-phase-1-3 .mk-phase-2-col,
.mk-result-table.display-phase-1-3 .mk-phase-3-col { display: table-cell; }

.mk-result-table.display-phase-4-6 .up-final-col,
.mk-result-table.display-phase-4-6 .mk-final-col,
.mk-result-table.display-phase-4-6 .mk-phase-1-col,
.mk-result-table.display-phase-4-6 .mk-phase-2-col,
.mk-result-table.display-phase-4-6 .mk-phase-3-col { display: none; }
.mk-result-table.display-phase-4-6 .mk-phase-4-col,
.mk-result-table.display-phase-4-6 .mk-phase-5-col,
.mk-result-table.display-phase-4-6 .mk-phase-6-col { display: table-cell; }

.mk-result-table.display-up .up-final-col { display: table-cell; }
.mk-result-table.display-up .mk-final-col,
.mk-result-table.display-up .mk-phase-1-col,
.mk-result-table.display-up .mk-phase-2-col,
.mk-result-table.display-up .mk-phase-3-col,
.mk-result-table.display-up .mk-phase-4-col,
.mk-result-table.display-up .mk-phase-5-col,
.mk-result-table.display-up .mk-phase-6-col,
.mk-result-table.display-up span.vs-server { display: none; }

.event-rank,
.event-rank-1,
.event-rank-2,
.event-rank-3,
.event-rank-4,
.event-rank-20 {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  line-height: 0.9rem;
  padding: 0.1rem 0;
  margin-right: 0.1rem;
  width: 1.2rem;
}
.event-rank-1 {
  border-radius: 50%;
  border: 0.1rem solid #a37426;
  background: radial-gradient(circle at 30% 30%, #e5c136 0, #d19d2b 100%);
  color: #ffed36;
  text-shadow: 0.1rem 0.01rem 0.2rem #836d52;
}
.event-rank-2 {
  border-radius: 50%;
  border: 0.1rem solid #757575;
  background: radial-gradient(circle at 30% 30%, #c0c0c0 0, #919191 100%);
  color: #efefef;
  text-shadow: 0.1rem 0.01rem 0.2rem #595959;
}
.event-rank-3 {
  border-radius: 50%;
  border: 0.1rem solid #713916;
  background: radial-gradient(circle at 30% 30%, #d5862c 0, #aa6122 100%);
  color: #ecd2a7;
  text-shadow: 0.1rem 0.01rem 0.2rem #833514;
}
.event-rank, 
.event-rank-4,
.event-rank-20 {
  color: #4e6277;
  border: 0.1rem solid transparent;
}

.phase-point {
  font-size: 0.9rem;
  /* color: var(--miku-dark-red); */
  margin: 0.2rem 0 0.2rem 0;
}

.final-point {
  font-size: 0.9rem;
  /* color: var(--miku-red); */
  margin: 2rem 0 2rem 0;
}

.final-point-bar {
  display:inline-block;
  background: var(--miku-red);
  color: #fec728;
  text-align:right;
  padding-right: 0.1rem;
  margin-right: 0.1rem;
}

.phase-point-bar {
  display:inline-block;
  background: var(--miku-dark-red);
  color: #fec728;
  text-align:right;
  padding-right: 0.3rem;
  margin-right: 0.2rem;
}

