div.result-wrapper {
  padding: 0rem;
  width:fit-content;
  border-radius: 1rem;
  border: 0.1rem solid #7c1a20;
}

.result-table th,
.result-table td { padding: 0.2rem 0.5rem; }
.result-table { border-collapse: collapse; }
.result-table th {
  background: #7c1a20;
  color: #fec728;
  font-weight: normal;
}

.result-table th:first-child { border-radius: 0.8rem 0 0 0; }
.result-table th:last-child  { border-radius: 0 0.8rem 0 0; }

.result-table thead tr th:first-child { width: 5rem; }
.result-table thead tr th:nth-child(2) { width: 3rem; }
.result-table thead tr th { width: 10rem; }

.result-table tr.new-section { border-top: 0.1rem solid #7c1a20; }

.phase-points {
  color: #7c1a20;
  /* text-shadow: 0px 1px 1px #000; */
  margin: 0.2rem 0 0.2rem 0;
}

.final-points {
  color: #b42328;
  /* text-shadow: 0px 1px 1px #000; */
  margin: 2rem 0 2rem 0;
}

.phase-points .bar {
  display:inline-block;
  /* text-shadow: 0px 1px 1px #000; */
  background: #7c1a20;
  color: #fec728;
  text-align:right;
  padding-right: 0.3rem;
  margin-right: 0.2rem;
}

.final-points .bar {
  display:inline-block;
  position: relative;
  /* text-shadow: 0px 1px 1px #000; */
  background: #b42328;
  color: #fec728;
  text-align:right;
  padding-right: 0.3rem;
  margin-right: 0.2rem;
}

.mk-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 1rem;
  row-gap: 1.5rem;
  /* justify-content: space-between; */
}

.mk-phase-container {
  /* background-color: #fb9145; */
  padding: 0rem;
  width:fit-content;
  border-radius: 0.5rem;
  border: 0.1rem solid #b42328;
}

.point-table th,
.point-table td { padding: 0.2rem; }
.point-table .normal { color: inherit; }
.point-table .spend { color: #285d8a; font-size: 0.8rem;}
.point-table .rally { color: #75338d; }
.point-table tr td:first-child { min-width: 20rem; }
.point-table tr td:last-child { text-align: right; min-width: 5rem; }

/*
 green : 28501f 3b7b2b 5db552 72cf6c
 blue  : 182a3b 285d8a 448bd1 7ac1eb
 purple: 522c60 75338d 8d42a1 d386d4
 gold  : 644625 ae5b21 e0bb50 f6db79
 gray  : 1d2231 3a4361 485363 638ad3
*/

.collapsible-toggle {
  display: flex;
  padding: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  background: #7c1a20;
  color: #fec728;
}

.collapsible-toggle button.title {
  border-radius: 0.5rem 0 0 0;
  border-color: transparent;
  background: #7c1a20;
  color: #fec728;
}

.collapsible-content {
  border: 0.1rem solid #7c1a20;
  border-radius: 0 0 0.5rem 0.5rem;
  background: linear-gradient(to bottom, #fb9145, #fb9145 2rem, white 8rem, white); 
}

.collapsible-content.collapsed {
  height: 0;
  overflow: hidden;
}

.collapsible-toggle button.title {
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform:capitalize;
  cursor: pointer;
  text-align: left;
  outline: none;
}


.mk-tab-bar .mk-tab {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  border: none;
  cursor: pointer;
  color: #fec728;
  text-shadow: 0px 1px 1px #000;
  background-color: #7c1a20;
}

.mk-tab-bar .mk-tab:hover {
  background-color: #b42328;
}

.mk-tab-bar .focused,
.mk-tab-bar .focused:hover {
  color: #7c1a20;
  background-color: #fb9145;
}

.mk-tab-bar {
  margin: 0;
  background: #7c1a20;
  color: #fec728;
}

.mk-tab-content {
  margin: 0;
  padding: 0.5rem;
}


.mk-result-table th,
.mk-result-table td { padding: 0.2rem 0.5rem; }
.mk-result-table { border-collapse: collapse; border: 1px solid black;}
.mk-result-table th {
  background: #7c1a20;
  color: #fec728;
  font-weight: normal;
}
.mk-result-table td {
  background: white;
  color: #7c1a20;
  font-weight: normal;
}
.mk-result-table thead tr th:first-child { width: 5rem; }
.mk-result-table thead tr th:last-child { width: 0.5rem; }
.mk-result-table thead tr th:nth-child(2) { width: 16rem; }
.mk-result-table thead tr th { width: 8rem; }
.mk-result-table tr.new-section { border-top: 0.1rem solid #7c1a20; }


.up-result-table th,
.up-result-table td { padding: 0.2rem 0.5rem; }
.up-result-table { border-collapse: collapse; border: 1px solid black;}
.up-result-table th {
  background: #7c1a20;
  color: #fec728;
  font-weight: normal;
}
.up-result-table td {
  background: white;
  color: #7c1a20;
  font-weight: normal;
}
.up-result-table thead tr th:first-child { width: 5rem; }
.up-result-table thead tr th:last-child { width: 0.5rem; }
.up-result-table thead tr th:nth-child(2) { width: 16rem; }
.up-result-table thead tr th { width: 8rem; }
.up-result-table tr.new-section { border-top: 0.1rem solid #7c1a20; }


.mk-result-table.display-final .mk-final-col { display: table-cell; }
.mk-result-table.display-final .mk-phase-1-col,
.mk-result-table.display-final .mk-phase-2-col,
.mk-result-table.display-final .mk-phase-3-col,
.mk-result-table.display-final .mk-phase-4-col,
.mk-result-table.display-final .mk-phase-5-col,
.mk-result-table.display-final .mk-phase-6-col { display: none; }

.mk-result-table.display-phase-1-3 .mk-final-col,
.mk-result-table.display-phase-1-3 .mk-phase-4-col,
.mk-result-table.display-phase-1-3 .mk-phase-5-col,
.mk-result-table.display-phase-1-3 .mk-phase-6-col { display: none; }
.mk-result-table.display-phase-1-3 .mk-phase-1-col,
.mk-result-table.display-phase-1-3 .mk-phase-2-col,
.mk-result-table.display-phase-1-3 .mk-phase-3-col { display: table-cell; }

.mk-result-table.display-phase-4-6 .mk-final-col,
.mk-result-table.display-phase-4-6 .mk-phase-1-col,
.mk-result-table.display-phase-4-6 .mk-phase-2-col,
.mk-result-table.display-phase-4-6 .mk-phase-3-col { display: none; }
.mk-result-table.display-phase-4-6 .mk-phase-4-col,
.mk-result-table.display-phase-4-6 .mk-phase-5-col,
.mk-result-table.display-phase-4-6 .mk-phase-6-col { display: table-cell; }

.final-rank,
.phase-rank {
  display: inline-block;
  width: 2rem;
  padding: 0 0.1rem 0 0;
  font-size: 0.9rem;
}

.phase-point {
  font-size: 0.9rem;
  /* color: #7c1a20; */
  margin: 0.2rem 0 0.2rem 0;
}

.final-point {
  font-size: 0.9rem;
  /* color: #b42328; */
  margin: 2rem 0 2rem 0;
}

.final-point-bar {
  display:inline-block;
  background: #b42328;
  color: #fec728;
  text-align:right;
  padding-right: 0.1rem;
  margin-right: 0.1rem;
}

.phase-point-bar {
  display:inline-block;
  background: #7c1a20;
  color: #fec728;
  text-align:right;
  padding-right: 0.3rem;
  margin-right: 0.2rem;
}

