.hero-table {
  border-spacing: 0;
  border-collapse: collapse;
}

.hero-table td {
  vertical-align: top;
}

.hero-table thead {
  position: sticky;
  background: var(--miku-red);
  color: white;
  z-index: 1;
  top: 0;
}

.hero-table td,
.hero-table th {
  border: 0.1rem solid var(--miku-dark-red);
  border-spacing: 0;
  padding: 0.5rem;
}

/* Default */
.hero-table .avatar-col { display: none; }

/* Tablet screen */
@media screen and (min-width: 480px) {
  .hero-table .avatar-col {
    display: table-cell;
    border-right: none;
  }
  .hero-table .name-col {
    border-left: none;
  }
}

.hero-table .avatars-item { width: 2rem; height: 2rem; }

.hero-table td.acquisition-col {
  font-weight: bold;
  color: var(--miku-red);
  text-align: center;
}

.hero-table td.other-acquisition-col {
  text-align: center;
}

.hero-table .acquisition-col { width: 6rem; }
.hero-table .other-acquisition-col { width: 8rem; }
.hero-table .skill-col { width: 10rem; }
.hero-table .total-combat-col { width: 8rem; }
.hero-table .total-utility-col { width: 8rem; }
.hero-table .role-col { width: 6rem; }

.hero-table.view-skills .skill-header-col,
.hero-table.view-skills .skill-col { display: table-cell; }
.hero-table.view-skills .total-combat-header-col,
.hero-table.view-skills .total-combat-col,
.hero-table.view-skills .total-utility-header-col,
.hero-table.view-skills .total-utility-col,
.hero-table.view-skills .acquisition-col,
.hero-table.view-skills .other-acquisition-col,
.hero-table.view-skills .role-header-col,
.hero-table.view-skills .role-col { display: none; }

.hero-table.view-total-combat .total-combat-header-col,
.hero-table.view-total-combat .total-combat-col { display: table-cell; }
.hero-table.view-total-combat .skill-header-col,
.hero-table.view-total-combat .skill-col,
.hero-table.view-total-combat .total-utility-header-col,
.hero-table.view-total-combat .total-utility-col,
.hero-table.view-total-combat .acquisition-col,
.hero-table.view-total-combat .other-acquisition-col,
.hero-table.view-total-combat .role-header-col,
.hero-table.view-total-combat .role-col { display: none; }

.hero-table.view-total-utility .total-utility-header-col,
.hero-table.view-total-utility .total-utility-col { display: table-cell; }
.hero-table.view-total-utility .skill-header-col,
.hero-table.view-total-utility .skill-col,
.hero-table.view-total-utility .total-combat-header-col,
.hero-table.view-total-utility .total-combat-col,
.hero-table.view-total-utility .acquisition-col,
.hero-table.view-total-utility .other-acquisition-col,
.hero-table.view-total-utility .role-header-col,
.hero-table.view-total-utility .role-col { display: none; }

.hero-table.view-acquisition .skill-header-col,
.hero-table.view-acquisition .skill-col,
.hero-table.view-acquisition .total-combat-header-col,
.hero-table.view-acquisition .total-combat-col,
.hero-table.view-acquisition .total-utility-header-col,
.hero-table.view-acquisition .total-utility-col,
.hero-table.view-acquisition .role-header-col,
.hero-table.view-acquisition .role-col { display: none; }
.hero-table.view-acquisition .acquisition-col,
.hero-table.view-acquisition .other-acquisition-col { display: table-cell; }

.hero-table.view-role .skill-header-col,
.hero-table.view-role .skill-col,
.hero-table.view-role .total-combat-header-col,
.hero-table.view-role .total-combat-col,
.hero-table.view-role .total-utility-header-col,
.hero-table.view-role .total-utility-col,
.hero-table.view-role .other-acquisition-col,
.hero-table.view-role .acquisition-col { display: none; }
.hero-table.view-role .role-header-col
.hero-table.view-role .role-col { display: table-cell; }
