@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

/* ---------------------- Root ---------------------- */

:root {
  --miku-red: rgb(180, 35, 40); /*  #b42328; */
  --miku-dark-red: rgb(124, 26, 32); /* #7c1a20 */
  --miku-gold: #fec728;
  --miku-light-gold: #fedd7e;
  --miku-pale-gold: #ffe9a9;

  --red: #b42328;

  --primary-1  : #C9803F; /* Caramel */
  --secondary-1: #D59E48; /* Sand */
  --primary-2  : #E0BB50; /* Copper */
  --secondary-2: #9FB851; /* Olive */
  --primary-3  : #5DB552; /* Jade */
  --secondary-3: #51A092; /* Sapphire */
  --primary-4  : #448BD1; /* Blue */
  --secondary-4: #7789C2; /* Glaucous */
  --primary-5  : #AA86B2; /* Iris */
  --secondary-5: #AF6B96; /* Mauve */
  --primary-6  : #B35079; /* Rose */

  --light-primary-1  : #DFB38C;
  --light-secondary-1: #E6C591;
  --light-primary-2  : #ECD696;
  --light-secondary-2: #C5D497;
  --light-primary-3  : #9ED397;
  --light-secondary-3: #97C6BE;
  --light-primary-4  : #8FB9E3;
  --light-secondary-4: #ADB8DA;
  --light-primary-5  : #CCB6D1;
  --light-secondary-5: #CFA6C0;
  --light-primary-6  : #D196AF;

  --pale-primary-1  : #E9CCB2;
  --pale-secondary-1: #EED8B6;
  --pale-primary-2  : #F3E4B9;
  --pale-secondary-2: #D9E3B9;
  --pale-primary-3  : #BEE1BA;
  --pale-secondary-3: #B9D9D3;
  --pale-primary-4  : #B4D1ED;
  --pale-secondary-4: #C9D0E7;
  --pale-primary-5  : #DDCFE0;
  --pale-secondary-5: #DFC4D5;
  --pale-primary-6  : #E1B9C9;

  --dark-neutral:#363E4A;
  --neutral: #485363; /* Charcoal */
  --light-neutral: #9198A1;
  --pale-neutral: #dadde0;

  /* alternative variable names for primary colors */
  --orange : #C9803F; /* Caramel */
  --gold   : #E0BB50; /* Copper */
  --green  : #5DB552; /* Jade */
  --blue   : #448BD1; /* Blue */
  --purple : #AA86B2; /* Iris */
}

html {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* ------------------- Fluid Size ------------------- */

html {
  font-size: 12px;
}

@media screen and (min-width: 300px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / (880 - 300)));
  }
}

@media screen and (min-width: 880px) {
  html {
    font-size: 18px;
  }
}

/* ------------------- Page Layout ------------------- */

html {
  /*
    Image by Nyankosensei
    https://anime.goodfon.com/art-anime/wallpaper-park-sakura-vesna.html
  */
  background-image: url('../images/park-sakura-vesna.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 0 auto;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
}

main {
  padding: 0 0 2rem 0;
  margin: 0 0 20rem 0;
}

header,
main {
  border-left: 1px solid var(--miku-red);
  border-right: 1px solid var(--miku-dark-red);
}

header {
  background-color: rgba(255, 255, 255, 0.5);
}

main {
  border-bottom: 1px solid var(--miku-dark-red);
}

body main {
  background-color: white;
}

body.landing main {
  background-color: rgba(255, 255, 255, 0.5);
}

/* ----------------- Header Section ----------------- */

header:first-child {
  margin: 0;
  padding: 0.2rem 0.2rem 0.2rem 1rem;

  &:before {
    display: block;
    content: "";
    background: url('../../images/logo_text.png') no-repeat;
    background-size: contain;
    height: 3.3rem;
    width: 18.9rem;
  }
}

/* -------------- Minimalist Override  -------------- */

html.minimalist {
  background: none;

  body {
    max-width: 100%;
    margin: 0;
    border: none;
    background: none;
  }
  header {
    padding: 0 0.5rem;
  }

  header:first-child:before {
    display: block;
    content: "";
    background: none;
    height: auto;
    width: auto;
  }

  main {
    border: none;
    padding: 0;
    margin: 0;

    section {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  h1:first-child {
    display: none;
  }
}


/* ------------------ Body Section ------------------ */

/* Paddings. Needed for :target to work */
main > h1,
main > h2, main > h3,
main > h4, main > div,
main > p,
main > section {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
main > section {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  & > *:first-child { margin-block-start: 0; }
  & > *:last-child { padding-bottom: 0; }
}

/* ----------------- Text and Links ----------------- */

html, body {
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--miku-dark-red);
  text-shadow:
    1px 1px 4px rgba(124, 26, 32, 0.1),
    2px 3px 4px rgba(124, 26, 32, 0.15),
    3px 5px 4px rgba(124, 26, 32, 0.2)
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--miku-dark-red);
  text-shadow:
    1px 1px 4px rgba(124, 26, 32, 0.1),
    2px 3px 4px rgba(124, 26, 32, 0.2)
}

h3, h4, h5, h6 {
  font-weight: 600;
}

p { line-height: 1.5em;}

a {
  color: var(--miku-red);
  text-decoration: underline;
}

a:not([href]) {
  color: black;
  text-decoration: none;
}

strong { font-weight: 500; }
strong.stronger {
  font-weight: 600;
  font-style: italic;
}
strong.very-strong {
  font-style: italic;
  font-weight: 700;
  color: var(--miku-dark-red);
}

em.highlight,
strong.highlight {
  color: var(--miku-dark-red);
}

strong.important {
  text-transform: uppercase;
}

code {
  font-family: "Fira Mono", monospace;
  font-size: 0.9em;
}

/* -------------------- Others -------------------- */

.hidden { display: none; }

/* --------------------- Lists  --------------------- */

/*
  If first child of a table cell is a <ul>,
  assume that it's the only child and left-flush the content
*/
table tbody td > ul:first-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
}

ul.compact-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
}
