@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

/* ---------------------- Root ---------------------- */

:root {
  color-scheme: light dark;

  --miku-red: rgb(180, 35, 40); /*  #b42328; */
  --miku-dark-red: rgb(124, 26, 32); /* #7c1a20 */
  --miku-gold: #fec728;
  --miku-light-gold: #fedd7e;
  --miku-pale-gold: #ffe9a9;
  --red: #b42328;
  --gold: #fec728;

  --gray-900: #121314;
  --gray-800: #171819; /* alt row */
  --gray-700: #24272f;
  --gray-500: #505259;
  --gray-300: #96979B;
  --gray-100: #B9BABD;
  --gray-50: #d9dadb;
  --gray-25: #f1f2f2; /* alt row */
  --red-900: #2D090A;
  --red-700: #5a1214;
  --red-500: #b42328;
  --red-300: #d27b7e;
  --red-100: #e4b0b2;
  --accent-500: #1CC140;
  --accent-300: #77DA8C;
  --gold-700: #bf951e;
  --gold-500: #fec728;
  --gold-300: #fedd7e;
  --gold-100: #feebb2;

  --caramel-500: #C9803F;
  --sand-700: #A07736;
  --sand-500: #D59E48;
  --sand-300: #E6C591;
  --sand-100: #F0DCBD;
  --copper-700: #A88C3C;
  --copper-500: #E0BB50;
  --copper-300: #ECD696;
  --copper-100: #F4E6C0;
  --jade-700: #2F5B29;
  --jade-500: #5DB552;
  --jade-300: #9ED397;
  --jade-100: #C5E5C1;
  --sapphire-700: #295049;
  --sapphire-500: #51A092;
  --sapphire-300: #97C6BE;
  --sapphire-100: #C1DDD8;
  --blue-700: #224669;
  --blue-500: #448BD1;
  --blue-300: #8FB9E3;
  --blue-100: #BCD5EE;
  --glaucous-500: #7789C2;
  --iris-700: #806585;
  --iris-500: #AA86B2;
  --iris-300: #CCB6D1;
  --iris-100: #E0D3E3;
  --mauve-500: #AF6B96;
  --rose-500  : #B35079;
  
  --primary-1  : #C9803F; /* Caramel */
  --secondary-1: #D59E48; /* Sand */
  --primary-2  : #E0BB50; /* Copper */
  --secondary-2: #9FB851; /* Olive */
  --primary-3  : #5DB552; /* Jade */
  --secondary-3: #51A092; /* Sapphire */
  --primary-4  : #448BD1; /* Blue */
  --secondary-4: #7789C2; /* Glaucous */
  --primary-5  : #AA86B2; /* Iris */
  --secondary-5: #AF6B96; /* Mauve */
  --primary-6  : #B35079; /* Rose */

  --light-primary-1  : #DFB38C;
  --light-secondary-1: #E6C591;
  --light-primary-2  : #ECD696;
  --light-secondary-2: #C5D497;
  --light-primary-3  : #9ED397;
  --light-secondary-3: #97C6BE;
  --light-primary-4  : #8FB9E3;
  --light-secondary-4: #ADB8DA;
  --light-primary-5  : #CCB6D1;
  --light-secondary-5: #CFA6C0;
  --light-primary-6  : #D196AF;

  --pale-primary-1  : #E9CCB2;
  --pale-secondary-1: #EED8B6;
  --pale-primary-2  : #F3E4B9;
  --pale-secondary-2: #D9E3B9;
  --pale-primary-3  : #BEE1BA;
  --pale-secondary-3: #B9D9D3;
  --pale-primary-4  : #B4D1ED;
  --pale-secondary-4: #C9D0E7;
  --pale-primary-5  : #DDCFE0;
  --pale-secondary-5: #DFC4D5;
  --pale-primary-6  : #E1B9C9;

  --dark-neutral:#363E4A;
  --neutral: #485363; /* Charcoal */
  --light-neutral: #9198A1;
  --pale-neutral: #dadde0;

  /* alternative variable names for primary colors */
  --orange : #C9803F; /* Caramel */
  --gold   : #E0BB50; /* Copper */
  --green  : #5DB552; /* Jade */
  --blue   : #448BD1; /* Blue */
  --purple : #AA86B2; /* Iris */
}

html {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* ------------------- Fluid Size ------------------- */

html {
  font-size: 12px;
}

@media screen and (min-width: 300px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / (880 - 300)));
  }
}

@media screen and (min-width: 880px) {
  html {
    font-size: 18px;
  }
}

/* ----------------- Default Layout  ----------------- */

html {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 0 auto;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
}

main {
  padding: 0 0 2rem 0;
  margin: 0 0 20rem 0;
}

/* -------------- Landing Page Layout  -------------- */

body.landing {

  .index-wrapper {
    h2 {
      font-size: 1.2rem;
      margin-block-start: 0;
      margin-block-end: 0.5rem;
      margin: 0;
    }

    section {
      padding: 0.5rem;
    }

    section img {
      display: block;
      height: 48px;
      width: auto;
    }
  }
}

@media screen and (min-width: 100px) {
  .index-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .index-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
  }
}

@media screen and (min-width: 760px) {
  .index-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
  }
}


/* ----------------- Stacking Order ----------------- */

* { z-index: auto; }
.quick-access-container { z-index: 999; }
.text-tip,
.image-tip { z-index: 9999; }

/* ----------------- Header Section ----------------- */

header:first-child {
  margin: 0;
  padding: 0.2rem 0.2rem 0.2rem 1rem;

  &:before {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.3rem;
    width: 18.9rem;
  }
}

/* -------------- Minimalist Override  -------------- */

html.minimalist {
  background: none;

  body {
    max-width: 100%;
    margin: 0;
    border: none;
    background: none;
  }
  header {
    padding: 0 0.5rem;
  }

  header:first-child:before {
    display: block;
    content: "";
    background: none;
    height: auto;
    width: auto;
  }

  main {
    border: none;
    padding: 0;
    margin: 0;

    section {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  h1:first-child {
    display: none;
  }
}

/* --------- Sections & Section Navigation  --------- */

div.quick-access-container,
nav.quick-access-container {
  position: sticky;
  top: 0;

  display: flex;
  height: 1.8rem;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  z-index: 99;

  menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    color: white;
    
    li {
      display: inline-block;
      margin-block-start: 0;
      margin-block-end: 0;
      padding: 0.4rem 0;

      a {
        text-decoration: none;
      }

      a[href="#"] {
        font-weight: 700;
        cursor: default;
      }

    }
    li { padding: 0.4rem 0.2rem; }
    li:first-child { padding-left: 0.8rem; }
    li:last-child { padding-right: 0.8rem; }

    li+li:before {
      display: inline-block;
      padding: 0 0.2rem 0 0;
      content: "|";
    }
  }

  a.prev, a.next, a.current {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 0.4rem 0.5rem;
    min-width: 3rem;
    color: var(--dark-neutral);
    &[href] { color: var(--miku-red); }
  }
  a.prev { text-align: right; }
}

@media screen and (min-width: 0px) {
  div.quick-access-container,
  nav.quick-access-container {
    a.current { display: none; }
  }
}

@media screen and (min-width: 700px) {
  div.quick-access-container {
    a.current { display: inline-block; }
  }
}

li.prev, li.next {
  /* background-color: red; */
  a {
    color: var(--miku-gold);
    font-weight: bold;
    text-decoration: none;
  }
  a:not([href="#"]):hover,
  a:not([href="#"]):focus {
    color: var(--miku-gold);
  }
}

/* ------------------ Body Section ------------------ */

/* Paddings. Needed for :target to work */
main > h1,
main > h2, main > h3,
main > h4, main > div,
main > p,
main > section {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
main > section {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  & > *:first-child { margin-block-start: 0; }
  & > *:last-child { padding-bottom: 0; }
}

section:target {
  position: relative;
  padding-top:4rem;
}

/* ----------------- Text and Links ----------------- */

html, body {
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-weight: 500;
}

p { line-height: 1.5em;}

a {
  text-decoration-style: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
}
a:focus,
a:hover {
  text-decoration-thickness: 0.15rem;
}
a:not([href]) { text-decoration: none; }

span.bold,
strong { font-weight: 500; }

strong.stronger {
  font-weight: 600;
  font-style: italic;
}
strong.very-strong {
  font-style: italic;
  font-weight: 700;
}

strong.important {
  text-transform: uppercase;
}

.monospace, code {
  font-family: "Fira Mono", monospace;
  font-size: 0.9em;
}

.bonus,
.number {
  color: light-dark(var(--red-500), var(--accent-500));
}
.number ~ .unit {
  padding-left: 0.1rem;
}

/* -------------------- Others -------------------- */

.hidden { display: none; }

details {
  /* padding: 0.2rem; */
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;

  summary {
    padding: 0.4rem;
    border-radius: 0.5rem 0.25rem 0.25rem 0.25rem;
  }

  summary::marker {
    font-size: 1.2em;
  }

  > div:first-of-type {
    padding: 0.4rem;
  }
}

details[open] {
  summary {
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

/* -------------- Lists & Pseudo Lists -------------- */

/*
  If first child of a table cell is a <ul>,
  assume that it's the only child and left-flush the content
*/
table tbody td > ul:first-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
}

ul.compact-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
}

ul.min-list {
  list-style: none;
  padding-left: 0 !important;
}

ul.check-list {
  padding: 0;
  list-style: none;

  li {
    padding-left: 1.6rem;
  }

  li:before {
    content: '';
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -1.4rem;
  }

  li.checked:before { background-image: url("../emojis/4x/check-mark.png"); }
  li.crossed:before { background-image: url("../emojis/4x/cross-mark.png"); }
  li.unknown:before { background-image: url("../emojis/4x/question-mark.png"); }
}

div.li, span.li {
  display: list-item;
  list-style-position: outside;
  padding: 0 0 0 0.2rem;
  margin: 0 0 0 0.8rem;
}

div.li::marker, span.li::marker {
  display: inline-block;
  content: "\25CF";
}

li, div.li, span.li {
  &.accent::marker { color: var(--accent-500); }
  &.red::marker { color: var(--red-500); }
  &.gold::marker { color: var(--gold-500); }
  &.caramel::marker { color: var(--caramel-500); }
  &.sand::marker { color: var(--sand-500); }
  &.copper::marker { color: var(--copper-500); }
  &.jade::marker { color: var(--jade-500); }
  &.sapphire::marker { color: var(--sapphire-500); }
  &.blue::marker { color: var(--blue-500); }
  &.glaucous::marker { color: var(--glaucous-500); }
  &.iris::marker { color: var(--iris-500); }
  &.mauve::marker { color: var(--mauve-500); }
  &.rose::marker { color: var(--rose-500); }
}

/* ---------------- Notes and Alerts ---------------- */

div.info-box {
  position: relative;
  border-radius: 0.4rem;
  margin-block-end: 0.8rem;
  padding: 0.4rem 0.4rem 0.4rem 3rem;
  min-height: 2rem;
}

div.info-box:before{
  content: "";
  display: block;
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  left: 0.4rem;
  top: 0.4rem;
  background-image: url('../emojis/4x/info.png');
  background-size: 1.8rem 1.8rem;
  background-repeat: no-repeat;
}


div.info-box.alert:before{
  background-image: url('../emojis/4x/alert.png');
}

@media (prefers-color-scheme: dark) {
  div.info-box {
    background-color: var(--gray-700);
    border: 0.1rem solid var(--gold-500);
  }
  div.info-box.alert{
    border: 0.1rem solid var(--red-500);
  }
}
@media (prefers-color-scheme: light) {
  div.info-box {
    background-color: var(--gold-100);
  }
  div.info-box.alert{
    background-color: var(--red-100);
  }
}

/* ------------------- Light Theme ------------------- */

html {
  /*
    Image by Nyankosensei
    https://anime.goodfon.com/art-anime/wallpaper-park-sakura-vesna.html
  */
  background-image: url('../images/park-sakura-vesna.jpg');
}

header {
  background-color: rgba(255, 255, 255, 0.5);
}

header:first-child:before {
  background-image: url('../../images/logo_text.png');
}

header,
main {
  border-left: 1px solid var(--red);
  border-right: 1px solid var(--red-700);
}

main {
  border-bottom: 1px solid var(--red-700);
}

main,
table th,
table td {
  color: var(--gray-700);
  background-color: white;
}

body.landing .index-wrapper section {
  border-radius: 0.5rem;
  border: 0.1rem solid var(--gray-300);
}

div.quick-access-container,
nav.quick-access-container {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0) 100%);
}

section:target,
div:target,
p:target,
tr:target td, tr:target th {
  background-color: var(--gold-300);
}

h1, h2 { color: var(--red-700); }

a { color: var(--gray-700); }
a:link { text-decoration-color: var(--red-500); }
a:visited { text-decoration-color: #A52183; }
a:focus:link, a:focus:visited {
  outline: none;
  border: none;
  color: var(--gray-25);
  background-color: var(--red-500);
  text-decoration-color: var(--red-700);
}

::selection {
  color: var(--gray-700);
  background: var(--gold-100);
}

ul.breadcrumb,
menu.breadcrumb {
  li { color: var(--gray-500); }
  li+li:before { color: var(--gray-500); }
}

.quick-access-container menu {
  background-color: var(--gray-100);

  li {
    color: var(--gray-500);

    a {
      color: var(--gray-700);
      text-decoration: none;
    }
    a:hover:link, a:hover:visited {
      color: var(--red-500);
    }
    a:focus:link, a:focus:visited {
      color: var(--gray-25);
      background-color: var(--red-500);
    }
  }

  li+li:before {
    color: var(--gray-300);
  }
}

table th, table td {
  color: var(--gray-700);
  background-color: white;
}

table.basic-table {
  thead th {
    background: var(--gray-100);
    color: var(--gray-900);
  }
  tfoot {
    background: var(--gold-500);
  }
}

table.border-all { /* border on all cells */
  border-collapse: collapse;
  td, th { border: 0.11rem solid var(--gray-500); }
}

table.border-row { /* border on rows only */
  border-collapse: collapse;
  border: 0.11rem solid var(--gray-500);
  td, th {
    border-top: 0.11rem solid var(--gray-500);
    border-bottom: 0.11rem solid var(--gray-500);
  }
}

table.border-simple { /* border on "sections" only */
  border-collapse: collapse;
  border: 0.11rem solid var(--gray-500);
  thead, tbody, tfoot { border: 0.11rem solid var(--gray-500); }
  td, th { border: none; }
}

table.alt-rows { /* alternating rows */
  tbody tr:nth-child(even) th,
  tbody tr:nth-child(even) td {
    background: var(--gray-25);
  }
}

.highlighted.red, tr.highlighted.red td {
  background-color: var(--red-100);
  color: var(--red-700);
}
.highlighted.copper, tr.highlighted.copper td {
  background-color: var(--copper-100);
  color: var(--copper-700);
}
.highlighted.jade, tr.highlighted.jade td {
  background-color: var(--jade-100);
  color: var(--jade-700);
}
.highlighted.blue, tr.highlighted.blue td {
  background-color: var(--blue-100);
  color: var(--blue-700);
}
.highlighted.iris, tr.highlighted.iris td {
  background-color: var(--iris-100);
  color: var(--iris-700);
}

details {
  background-color: var(--gray-100);

  summary {
    background-color: var(--gray-50);
  }

  summary::marker {
    color: var(--red-700);
  }
}

/* ------------------- Night Theme ------------------- */

@media (prefers-color-scheme: dark) {
  html {
    /*
      AI image
      https://www.goodfon.com/ai-art/wallpaper-iskusstvo-ii-fantastika-ai-art-arka-neon-noch-odinokaia-figu.html
    */
    background-image: url('../images/neon-sakura-ai.jpg');
  }

  header {
    background-color: rgba(18, 20, 23, 0.7);
  }

  header:first-child:before {
    background-image: url('../../images/logo_text-dark.png');
  }

  header,
  main {
    border-left: 1px solid var(--red);
    border-right: 1px solid var(--red);
  }

  main {
    border-bottom: 1px solid var(--red);
  }

  body main,
  table th,
  table td {
    color: var(--gray-50);
    background-color: var(--gray-900);
  }

  body.landing .index-wrapper section {
    border-radius: 0;
    border: 0.1rem solid var(--red-700);
    background-color: var(--gray-700);
  }
  
  div.quick-access-container,
  nav.quick-access-container {
    background: linear-gradient(
      to bottom,
      rgb(18, 19, 20) 0%,
      rgb(18, 19, 20) 30%,
      rgba(18, 19, 20, 0) 100%);
  }

  section:target,
  div:target,
  p:target,
  tr:target td, tr:target th {
    background-color: var(--red-900);
  }

  h1, h2 { color: var(--gray-50); }

  a { color: var(--gray-50); }
  a:link { text-decoration-color: var(--red-500); }
  a:visited { text-decoration-color: #A52183; }
  a:focus:link,
  a:focus:visited {
    outline: none;
    border: none;
    color: var(--gray-25);
    background-color: var(--red-500);
    text-decoration-color: var(--red-700);
  }

  ::selection {
    color: var(--gray-700);
    background: var(--gold-500);
  }

  ul.breadcrumb {
    li { color: var(--red-300); }
    li+li:before { color: var(--red); }
  }

  div.quick-access-container menu,
  nav.quick-access-container menu {
    background-color: var(--gray-700);

    li {
      color: var(--gray-100);

      a {
        color: var(--gray-25);
        text-decoration: none;
      }
      a:hover:link, a:hover:visited {
        text-decoration: underline 0.15rem;
        text-decoration-color: var(--red-500);
      }
      a:focus:link, a:focus:visited {
        color: var(--gray-25);
        background-color: var(--red-500);
      }
    }

    li+li:before {
      color: var(--gray-300);
    }
  }

  table.basic-table {
    thead th {
      background: var(--red-700);
      color: var(--gray-100);
      a { color: var(--red-100); }
    }
    tfoot {
      background: var(--gold-700);
    }
  }

  table.border-all { /* border on all cells */
    border-collapse: collapse;
    td, th { border: 0.11rem solid var(--gray-500); }
  }

  table.border-row { /* border on rows only */
    border-collapse: collapse;
    border: 0.11rem solid var(--gray-500);
    td, th {
      border-top: 0.11rem solid var(--gray-500);
      border-bottom: 0.11rem solid var(--gray-500);
    }
  }

  table.border-simple { /* border on "sections" only */
    border-collapse: collapse;
    border: 0.11rem solid var(--gray-500);
    thead, tbody, tfoot { border: 0.11rem solid var(--gray-500); }
    td, th { border: none; }
  }

  table.alt-rows { /* alternating rows */
    tbody tr:nth-child(even) th,
    tbody tr:nth-child(even) td {
      background: var(--gray-800);
    }
  }
  .highlighted.red, tr.highlighted.red td {
    background-color: var(--red-700);
    color: var(--red-100);
  }
  .highlighted.copper, tr.highlighted.copper td {
    background-color: var(--copper-700);
    color: var(--copper-100);
  }
  .highlighted.jade, tr.highlighted.jade td {
    background-color: var(--jade-700);
    color: var(--jade-100);
  }  
  .highlighted.blue, tr.highlighted.blue td {
    background-color: var(--blue-700);
    color: var(--blue-100);
  }
  .highlighted.iris, tr.highlighted.iris td {
    background-color: var(--iris-700);
    color: var(--iris-100);
  }

  details {
    background-color: var(--gray-900);
    border: 0.15rem solid var(--gray-700);

    summary {
      background-color: var(--gray-700);
    }

    summary::marker {
      color: var(--red-500);
    }
  }
}

/* ----------------- Mini Calendars ----------------- */

.mini-cal {
  th, td {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.2rem;
  }
  .mon, .tue, .wed, .thu, .fri, .sat, .sun {
    width: 2rem;
  }
  .day-of-month {
    position: relative;
    display: block;
    box-sizing: border-box;
    line-height: 1.8rem;
    width: 2rem;
    height: 2rem;
    z-index: 1;
  }
  .server-day {
    position: relative;
    display: block;
    box-sizing: border-box;
    line-height: 1.8rem;
    width: 3rem;
    height: 2rem;
    z-index: 1;
  }
  
  .event-0, .event-1, .event-2, .event-3 {
    border-bottom: 0.2rem solid;
  }
  .event-0 { border-color: light-dark(var(--gray-300), var(--gray-500)); }
  .event-1 { border-color: var(--accent-500); }
  .event-2 { border-color: var(--gold-500); }
  .event-3 { border-color: var(--red-500); }

  .today:before {
    position: absolute;
    display: block;
    content: "";
    font-size: 0.8rem;
    border-radius: 0.9rem;
    /* border: 0.2rem solid var(--red-500); */
    width: 1.8rem; height: 1.8rem;
    left: 0.1rem; top: 0.1rem;
    background-color: light-dark(var(--red-500), var(--red-700));
    z-index: -1;
  }
  .server-start:before {
    position: absolute;
    display: block;
    content: "";
    font-size: 0.8rem;
    box-sizing: border-box;
    border: 0.2rem dotted;
    border-color: light-dark(var(--gray-300), var(--gray-500));
    border-radius: 0.9rem;
    width: 1.8rem; height: 1.8rem;
    left: 0.1rem; top: 0.1rem;
    background-color: none;
    z-index: -1;
  }
  .mo2 {
    background-color: light-dark(var(--gray-50), var(--gray-700));
  }
}

/* -------------- Split-Column Wrapper -------------- */

@media screen and (min-width: 100px) {
  .split-col-wrapper {
    display: block;
    justify-content: center;
  }

  .split-col-wrapper > .col {
    margin-block-start: 0;
    margin-block-end: 1rem;
  }
}

@media screen and (min-width: 520px) {
  .split-col-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
  }

  .split-col-wrapper > .col {
    margin-left: auto;
    margin-right: auto;

    h2, h3 { margin: 0; padding: 0; }
  }
}

/* -------------------- Tooltips -------------------- */

abbr[title],
.hero-name[image-hint],
.tip-container {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.1rem;
}

.hero-name[image-hint],
.tip-container {
  position: relative;
  display: inline-block;
}

abbr[title]:hover,
.hero-name[image-hint]:hover,
.tip-container:hover,
abbr[title]:focus,
.hero-name[image-hint]:focus,
.tip-container:focus {
  text-decoration-thickness: 0.15rem;
}

.tip-container .image-tip img {
  max-width: 10rem;
  height: auto;
  margin: 0;
}

.tip-container .image-tip,
.tip-container .text-tip {
  display: block;
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 50%;
  transform: translate(-50%);
  background: light-dark(var(--gray-50), var(--gray-700));
  color: light-dark(var(--gray-900), var(--gray-50));
  padding: 0.25rem;
  border-radius: 0.2rem;
  border: 0.1rem solid light-dark(var(--gray-100), var(--gray-300));
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease-in-out 0.4s;
}

.tip-container .text-tip {
  max-width: 18rem;
  min-width: 10rem;
  font-size: 0.9rem;
  text-decoration-line: none;
}

.tip-container:focus .image-tip,
.tip-container:focus .text-tip,
.tip-container:hover .image-tip,
.tip-container:hover .text-tip {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}

/* ---------------- Icons and Emojis ---------------- */

img.icon {
  width: 22px !important;
  height: auto !important;
  vertical-align: middle;
}

@media screen and (min-width: 300px) {
  img.icon {
    width: calc(22px + 10 * ((100vw - 320px) / (880 - 300))) !important;
  }
}

@media screen and (min-width: 880px) {
  img.icon {
    width: 32px !important; 
  }
}

img.emoji {
  height: 1rem !important;
  width: auto !important;
}

/* --------------- Heroes & Elements  --------------- */

.hero-avatar {
  &.n   { border-color: #AFE0A8;}
  &.r   { border-color: #95C1EE;}
  &.sr  { border-color: #C297DE;}
  &.ssr { border-color: #E9ED65;}
  &.blank { background: transparent; }
  &.blank.ssr {
    background: linear-gradient(-45deg, #FF9927 0%, #D5793F 100%);
  }
}

.hero-name.archer {
  text-decoration-color: #DA9D2A;
}
.hero-name.fire {
  text-decoration-color: #FC4614;
}
.hero-name.ice {
  text-decoration-color: #2DAEFF;
}
.hero-name.goblin {
  text-decoration-color: #2DAEFF;
}

.hero-name.archer:focus,
.hero-name.archer:hover {
  color: light-dark(#523B10, #F2DCB2);
}
.hero-name.fire:focus,
.hero-name.fire:hover {
  color: light-dark( #3F1205, #FEBCAA);
}
.hero-name.ice:focus,
.hero-name.ice:hover {
  color: light-dark(#0C2C40, #B3E2FF);
}
.hero-name.goblin:focus,
.hero-name.goblin:hover {
  color: light-dark(#0C3A1E, #B5F7CE);
}

.hero-name:focus,
.hero-name:hover {
  transition: .2s ease-in;
}

/* ---------------- Site Navigation  ---------------- */

header:first-child nav {
  display: flex;
  height: 1.8rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  menu.breadcrumb,
  ul.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    font-size: 0.9rem;

    li {
      display: inline;
    }

    li+li:before {
      padding: 0 0.2rem 0 0;
      content: "\00BB";
      /* › \203A  */
      /* » \00BB  */
    }

    li:last-child {
      font-weight: 500;
    }

    a {
      text-decoration: underline solid !important;
    }
  }
}

@media screen and ( width >= 680px) {
  nav.left-right {
    .left-arrow a {
      position: fixed;
      z-index: 100;
      left: -1.4rem;
      top: 45%;
      border-radius: 45% / 0 50% 50% 0;
    }
  
    .right-arrow a {
      position: fixed;
      z-index: 100;
      right: -1.4rem;
      top: 45%;
      border-radius: 45% / 50% 0 0 50%; 
    }

    .left-arrow a:hover,
    .left-arrow a:focus { left: 0; }
    .right-arrow a:hover,
    .right-arrow a:focus { right: 0; }

    a {
      padding: 3rem 1rem;
      background: rgba(0, 0, 0, 0.65);
      color: var(--gold-500);
      text-decoration: none;
      font-size: 1.6rem;
    }
  }
  
  .left-arrow a,
  .right-arrow a,
  .left-arrow a:hover,
  .left-arrow a:focus,
  .right-arrow a:hover,
  .right-arrow a:focus {
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
  }
}

@media screen and ( width >= 900px) {
  nav.left-right {
    .left-arrow a {
      left: -0.8rem;
    }
    .right-arrow a {
      right: -0.8rem;
    }
  }
}

@media screen and (width < 680px) {
  nav.left-right {
    margin: 0.5rem 0;
    height: 2rem;
    position: relative;

    .left-arrow a {
      position: absolute;
      left: 8rem;
    }
  
    .right-arrow a {
      position: absolute;
      right: 8rem;
    }
    
    a {
      background-color: var(--miku-red);
      color: var(--miku-gold);
      text-decoration: none;
      font-size: 1.6rem;
      padding: 0.6rem 1.2rem;
    }  
  }
}

nav.left-right {
  .left-arrow a:hover,
  .left-arrow a:focus,
  .right-arrow a:hover,
  .right-arrow a:focus {
    background: var(--red-700);
    color: var(--gold-100);
  }
}

/* ------------------ Basic Format ------------------ */

/* Paragraph spacing */
section > p, div > p { margin-block-end: 0.8rem; }
p:last-child { margin-block-end: 0; }

/* Paddings. Needed for :target to work */
main > h1,
main > h2, main > h3,
main > h4, main > div,
main > p,
main > section {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
main > section {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  & > *:first-child { margin-block-start: 0; }
  & > *:last-child { padding-bottom: 0; }
}

/* Fixing broken UL. All <ul> should be contained by <div> */
main > ul { margin-left: 1.2rem !important; }

/* -------------------- Headings -------------------- */

@media screen and (min-width: 500px) {
  h1::before,
  h1::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid var(--red-700);
    width: 3rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }
}

h1 {
  text-align: center;
  padding-top: 2rem;
  margin-block-start: 0;
}

h2.inline-heading,
h3.inline-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 0.5rem 0 0;
  float: left;
}

/* --------------- Simple Text Styles --------------- */

/*
.red, .blue, .orange, .green, .purple {
  text-decoration: underline;
  text-decoration-thickness: 0.12rem;
}

.red { text-decoration-color: var(--red); }
.blue { text-decoration-color: var(--blue); }
.orange { text-decoration-color: var(--orange); }
.green { text-decoration-color: var(--green); }
.purple { text-decoration-color: var(--purple); }
*/

/* ----------- Anchors & Focus Animation  ----------- */

section,
tr td,
tr th {
  -webkit-transition: background-color 0.5s linear;
     -moz-transition: background-color 0.5s linear;
       -o-transition: background-color 0.5s linear;
          transition: background-color 0.5s linear;
}

/* ------------------ Flex Layout  ------------------ */

div.col-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  row-gap: 0.8rem;
  padding: 0;

  .col {
    flex: 1 0 0;
    align-items: start;
  }
}

/* --------------------- Lists  --------------------- */

li > ul:first-child
li > p:first-child {
  margin-block-start: 0;
}

li ~ li { margin-block-start: 0.4rem;}

ul.butterfly {
  padding-left: 1.8rem;
}

ul.butterfly > li {
  list-style-image: url("../../images/butterfly-red.svg");
  margin-bottom: 0.2rem;
}

ul.butterfly > li::marker {
  font-size: 1.8em;
}

ul.emoji-markers {
  /* padding-left: 1.4rem; */
  padding: 0;
  list-style: none;

  li {
    padding-left: 1.6rem;
  }

  li:before {
    content: '';
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -1.4rem;
  }

  li.castle:before { background-image: url("../icons/emoji_castle-color.png"); }
  li.frame:before { background-image: url("../icons/emoji_frame-color.png"); }
  li.coupon:before { background-image: url("../icons/emoji_coupon-color.png"); }
  li.hero:before { background-image: url("../icons/emoji_hero-color.png"); }
  li.gold-star:before { background-image: url(); }
  li.red-star:before { background-image: url(); }
  li.blue-star:before { background-image: url(); }
  li.elemental-archer:before { background-image: url(); }
  li.elemental-fire:before { background-image: url(); }
  li.elemental-ice:before { background-image: url(); }
  li.elemental-goblin:before { background-image: url(); }
  li.new:before { background-image: url(); }
  li.increase:before { background-image: url(); }
  li.price-down:before { background-image: url(); }
  li.free-pick:before { background-image: url("../icons/recruit-ssr-2x_s.png"); }
}

ul.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;

  li {
    display: inline;
    float: left;
    padding: 0.4rem 0.8rem;
    margin: 0 0.2rem;
    border-radius: 0.4rem;
    transition: background-color .3s;

    a {
      color: black;
      text-decoration: none !important;
    }

    &.selected {
      font-weight: bold;
      color: white;
      background-color: var(--miku-red);
    }

    &.selected a { color: white; }

    &:not(.selected):hover {
      background-color: var(--light-neutral);
    }
  }
}

ul.timeline li+li:before {
  display: inline-block;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-weight: bold;
  content: "\203A" !important
}

ul.inline-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  li { display: inline; }
}

/* --------------------- Tables --------------------- */

table { /* default */
  font-size: 1rem;
  border-collapse: collapse;

  th, td { padding: 0.5rem; }

  th { text-align: left; }

  tbody th,
  tbody td { vertical-align: top; }
  
  th.right-align,
  td.right-align { text-align: right; }
}

table.sticky-header { /* sticky header */
  thead tr th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
  }
}

table.sticky-col { /* sticky column */
  thead tr > *:first-child,
  tbody tr > *:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 9;
  }
}

table.upgrade-table { /* border on all cells */
  border-collapse: collapse;

  td, th {
    border-style: solid;
    border-color: var(--miku-dark-red);
  }
  .from-level, .to-level { width: 4.8rem; }
  .chevron { width: 1.4rem; }
  .upgrade-cost { width: 8rem; }

  th { text-align: center;}

  td.upgrade-cost { text-align: right; }
  td.chevron { width: 1.4rem; text-align: center;}

  .from-level { border-width: 0.11rem 0 0.11rem 0.11rem; }
  .to-level { border-width: 0.11rem 0.11rem 0.11rem 0; }
  .chevron { border-width: 0.11rem 0; }
  .upgrade-cost { border-width: 0.11rem; }

  .level {
    display: inline-block;
    width: 3rem;
    text-align: right;
    font-family: "Fira Mono", monospace;
  }
  .cost {
    font-family: "Fira Mono", monospace;
  }
}

.price-table {
  .season-col { width: 6rem; }
  .tier-col { width: 3.2rem; }
  .sales9999,
  .sales4999,
  .sales1999,
  .sales999,
  .sales499 {
    font-family: "Fira Mono", monospace;
    font-size: 0.9em;
    text-align: right;
  }
  .unverified td,
  .unverified th {
    font-style: italic;
  }
}

@media (prefers-color-scheme: dark) {
  .price-table {
    .sales9999 { color: var(--gold-300); }
    .sales4999 { color: var(--iris-300); }
    .sales1999 { color: var(--blue-300); }
    .sales999 { color: var(--jade-300); }
  }
  .price-table .unverified {
    td { color: var(--gray-500); }
    .sales9999 { color: var(--gold-700); }
    .sales4999 { color: var(--iris-700); }
    .sales1999 { color: var(--blue-700); }
    .sales999 { color: var(--jade-700); }
  }
}

@media (prefers-color-scheme: light) {
  .price-table {
    .sales9999 { background-color: var(--gold-100); }
    .sales4999 { background-color: var(--iris-100); }
    .sales1999 { background-color: var(--blue-100); }
    .sales999 { background-color: var(--jade-100); }
  }
  .price-table .unverified {
    color: var(--gray-300);
    .sales9999 { color: var(--gold-300); }
    .sales4999 { color: var(--iris-300); }
    .sales1999 { color: var(--blue-300); }
    .sales999 { color: var(--jade-300); }
  }
}


/* -------------------- Tooltips -------------------- */

[text-hint] {
  position: relative;
  display: inline-block;
}

li, p, div, span, label, td {
  & > span[text-hint],
  & > abbr[text-hint] {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--miku-dark-red);
    text-underline-offset: 0.2rem;
  }
}

th {
  & > span[text-hint],
  & > abbr[text-hint] {
    text-decoration: underline dotted;
    text-underline-offset: 0.2rem;
  }
}

[text-hint]:before,
[text-hint]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease-in-out 0.4s;
  text-align: center;
}

[text-hint]:before {
  content: " ";
  height: 0;
  width: 0;
  top: calc(100% - 1rem);
  border-style: solid;
  border-width: 1rem;
  border-color: transparent transparent var(--neutral) transparent;
  z-index: 99;
}

[text-hint]:after {
  content: attr(text-hint);
  /* white-space: nowrap; */
  background: var(--neutral);
  color: #fff;
  min-width: 6rem;
  max-width: 10rem;
  padding: 0.4rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  top: calc(100% + 0.9rem);
  border-radius: 0.5rem;
  text-shadow: 0px 1px 1px #000;
  z-index: 99;
}

[text-hint]:hover:before,
[text-hint]:hover:after,
[text-hint]:focus:before,
[text-hint]:focus:after {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}
