@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

/* ---------------------- Root ---------------------- */

:root {
  color-scheme: light dark;

  --miku-red: rgb(180, 35, 40); /*  #b42328; */
  --miku-dark-red: rgb(124, 26, 32); /* #7c1a20 */
  --miku-gold: #fec728;
  --miku-light-gold: #fedd7e;
  --miku-pale-gold: #ffe9a9;
  --red: #b42328;
  --gold: #fec728;

  --gray-900: #121314;
  --gray-800: #171819; /* alt row */
  --gray-700: #24272f;
  --gray-500: #505259;
  --gray-300: #96979B;
  --gray-100: #B9BABD;
  --gray-50: #d9dadb;
  --gray-25: #f1f2f2; /* alt row */
  --red-900: #2D090A;
  --red-700: #5a1214;
  --red-500: #b42328;
  --red-300: #d27b7e;
  --red-100: #e4b0b2;
  --accent-500: #1CC140;
  --accent-300: #77DA8C;
  --gold-700: #bf951e;
  --gold-500: #fec728;
  --gold-300: #fedd7e;
  --gold-100: #feebb2;

  --caramel-500: #C9803F;
  --sand-700: #A07736;
  --sand-500: #D59E48;
  --sand-300: #E6C591;
  --sand-100: #F0DCBD;
  --copper-700: #A88C3C;
  --copper-500: #E0BB50;
  --copper-300: #ECD696;
  --copper-100: #F4E6C0;
  --jade-700: #2F5B29;
  --jade-500: #5DB552;
  --jade-300: #9ED397;
  --jade-100: #C5E5C1;
  --sapphire-700: #295049;
  --sapphire-500: #51A092;
  --sapphire-300: #97C6BE;
  --sapphire-100: #C1DDD8;
  --blue-700: #224669;
  --blue-500: #448BD1;
  --blue-300: #8FB9E3;
  --blue-100: #BCD5EE;
  --glaucous-500: #7789C2;
  --iris-700: #806585;
  --iris-500: #AA86B2;
  --iris-300: #CCB6D1;
  --iris-100: #E0D3E3;
  --mauve-500: #AF6B96;
  --rose-500  : #B35079;
  
  --primary-1  : #C9803F; /* Caramel */
  --secondary-1: #D59E48; /* Sand */
  --primary-2  : #E0BB50; /* Copper */
  --secondary-2: #9FB851; /* Olive */
  --primary-3  : #5DB552; /* Jade */
  --secondary-3: #51A092; /* Sapphire */
  --primary-4  : #448BD1; /* Blue */
  --secondary-4: #7789C2; /* Glaucous */
  --primary-5  : #AA86B2; /* Iris */
  --secondary-5: #AF6B96; /* Mauve */
  --primary-6  : #B35079; /* Rose */

  --light-primary-1  : #DFB38C;
  --light-secondary-1: #E6C591;
  --light-primary-2  : #ECD696;
  --light-secondary-2: #C5D497;
  --light-primary-3  : #9ED397;
  --light-secondary-3: #97C6BE;
  --light-primary-4  : #8FB9E3;
  --light-secondary-4: #ADB8DA;
  --light-primary-5  : #CCB6D1;
  --light-secondary-5: #CFA6C0;
  --light-primary-6  : #D196AF;

  --pale-primary-1  : #E9CCB2;
  --pale-secondary-1: #EED8B6;
  --pale-primary-2  : #F3E4B9;
  --pale-secondary-2: #D9E3B9;
  --pale-primary-3  : #BEE1BA;
  --pale-secondary-3: #B9D9D3;
  --pale-primary-4  : #B4D1ED;
  --pale-secondary-4: #C9D0E7;
  --pale-primary-5  : #DDCFE0;
  --pale-secondary-5: #DFC4D5;
  --pale-primary-6  : #E1B9C9;

  --dark-neutral:#363E4A;
  --neutral: #485363; /* Charcoal */
  --light-neutral: #9198A1;
  --pale-neutral: #dadde0;

  /* alternative variable names for primary colors */
  --orange : #C9803F; /* Caramel */
  --gold   : #E0BB50; /* Copper */
  --green  : #5DB552; /* Jade */
  --blue   : #448BD1; /* Blue */
  --purple : #AA86B2; /* Iris */
}

html {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* ------------------- Fluid Size ------------------- */

html {
  font-size: 12px;
}

@media screen and (min-width: 300px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / (880 - 300)));
  }
}

@media screen and (min-width: 880px) {
  html {
    font-size: 18px;
  }
}

/* ----------------- Default Layout  ----------------- */

html {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 0 auto;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
}

main {
  padding: 0 0 2rem 0;
  margin: 0 0 20rem 0;
}

/* -------------- Landing Page Layout  -------------- */

body.landing {

  .index-wrapper {
    h2 {
      font-size: 1.2rem;
      margin-block-start: 0;
      margin-block-end: 0.5rem;
      margin: 0;
    }

    section {
      padding: 0.5rem;
    }

    section img {
      display: block;
      height: 48px;
      width: auto;
    }
  }
}

@media screen and (min-width: 100px) {
  .index-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .index-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
  }
}

@media screen and (min-width: 760px) {
  .index-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
  }
}


/* ----------------- Stacking Order ----------------- */

* { z-index: auto; }
div.quick-access { z-index: 999; }
.text-tip,
.image-tip { z-index: 9999; }

/* ----------------- Header Section ----------------- */

header:first-child {
  margin: 0;
  padding: 0.2rem 0.2rem 0.2rem 1rem;

  &:before {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.3rem;
    width: 18.9rem;
  }
}

/* -------------- Minimalist Override  -------------- */

html.minimalist {
  background: none;

  body {
    max-width: 100%;
    margin: 0;
    border: none;
    background: none;
  }
  header {
    padding: 0 0.5rem;
  }

  header:first-child:before {
    display: block;
    content: "";
    background: none;
    height: auto;
    width: auto;
  }

  main {
    border: none;
    padding: 0;
    margin: 0;

    section {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  h1:first-child {
    display: none;
  }
}


/* ------------------ Body Section ------------------ */

/* Paddings. Needed for :target to work */
main > h1,
main > h2, main > h3,
main > h4, main > div,
main > p,
main > section {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
main > section {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  & > *:first-child { margin-block-start: 0; }
  & > *:last-child { padding-bottom: 0; }
}

section:target {
  position: relative;
  padding-top:4rem;
}

/* ----------------- Text and Links ----------------- */

html, body {
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-weight: 500;
}

p { line-height: 1.5em;}

a {
  text-decoration-style: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
}
a:focus,
a:hover {
  text-decoration-thickness: 0.15rem;
}
a:not([href]) { text-decoration: none; }

strong { font-weight: 500; }
strong.stronger {
  font-weight: 600;
  font-style: italic;
}
strong.very-strong {
  font-style: italic;
  font-weight: 700;
}

strong.important {
  text-transform: uppercase;
}

abbr[title] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2rem;
}

code {
  font-family: "Fira Mono", monospace;
  font-size: 0.9em;
}

/* -------------------- Others -------------------- */

.hidden { display: none; }

details {
  /* padding: 0.2rem; */
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;

  summary {
    padding: 0.4rem;
    border-radius: 0.5rem 0.25rem 0.25rem 0.25rem;
  }

  summary::marker {
    font-size: 1.2em;
  }

  > div:first-of-type {
    padding: 0.4rem;
  }
}

details[open] {
  summary {
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

/* --------------------- Lists  --------------------- */

/*
  If first child of a table cell is a <ul>,
  assume that it's the only child and left-flush the content
*/
table tbody td > ul:first-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
}

ul.compact-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
}

/* ------------------- Light Theme ------------------- */

html {
  /*
    Image by Nyankosensei
    https://anime.goodfon.com/art-anime/wallpaper-park-sakura-vesna.html
  */
  background-image: url('../images/park-sakura-vesna.jpg');
}

header {
  background-color: rgba(255, 255, 255, 0.5);
}

header:first-child:before {
  background-image: url('../../images/logo_text.png');
}

header,
main {
  border-left: 1px solid var(--red);
  border-right: 1px solid var(--red-700);
}

main {
  border-bottom: 1px solid var(--red-700);
}

main,
table th,
table td {
  color: var(--gray-700);
  background-color: white;
}

body.landing .index-wrapper section {
  border-radius: 0.5rem;
  border: 0.1rem solid var(--gray-300);
}

div.quick-access {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0) 100%);
}

section:target,
div:target,
p:target,
tr:target td, tr:target th {
  background-color: var(--gold-300);
}

h1, h2 { color: var(--red-700); }

a { color: var(--gray-700); }
a:link { text-decoration-color: var(--red-500); }
a:visited { text-decoration-color: #A52183; }
a:focus:link, a:focus:visited {
  outline: none;
  border: none;
  color: var(--gray-25);
  background-color: var(--red-500);
  text-decoration-color: var(--red-700);
}

::selection {
  color: var(--gray-700);
  background: var(--gold-100);
}

ul.breadcrumb {
  li { color: var(--gray-500); }
  li+li:before { color: var(--gray-500); }
}

ul.quick-access-links {
  background-color: var(--gray-100);

  li {
    color: var(--gray-500);

    a {
      color: var(--gray-700);
      text-decoration: none;
    }
    a:hover:link, a:hover:visited {
      color: var(--red-500);
    }
    a:focus:link, a:focus:visited {
      color: var(--gray-25);
      background-color: var(--red-500);
    }
  }

  li+li:before {
    color: var(--gray-300);
  }
}

table th, table td {
  color: var(--gray-700);
  background-color: white;
}

table.basic-table {
  thead th {
    background: var(--gray-100);
    color: var(--gray-900);
  }
  tfoot {
    background: var(--gold-500);
  }
}

table.border-all { /* border on all cells */
  border-collapse: collapse;
  td, th { border: 0.11rem solid var(--gray-500); }
}

table.border-row { /* border on rows only */
  border-collapse: collapse;
  border: 0.11rem solid var(--gray-500);
  td, th {
    border-top: 0.11rem solid var(--gray-500);
    border-bottom: 0.11rem solid var(--gray-500);
  }
}

table.border-simple { /* border on "sections" only */
  border-collapse: collapse;
  border: 0.11rem solid var(--gray-500);
  thead, tbody, tfoot { border: 0.11rem solid var(--gray-500); }
  td, th { border: none; }
}

table.alt-rows { /* alternating rows */
  tbody tr:nth-child(even) th,
  tbody tr:nth-child(even) td {
    background: var(--gray-25);
  }
}

.highlighted.red, tr.highlighted.red td {
  background-color: var(--red-100);
  color: var(--red-700);
}
.highlighted.copper, tr.highlighted.copper td {
  background-color: var(--copper-100);
  color: var(--copper-700);
}
.highlighted.blue, tr.highlighted.blue td {
  background-color: var(--blue-100);
  color: var(--blue-700);
}
.highlighted.iris, tr.highlighted.iris td {
  background-color: var(--iris-100);
  color: var(--iris-700);
}

details {
  background-color: var(--gray-100);

  summary {
    background-color: var(--gray-50);
  }

  summary::marker {
    color: var(--red-700);
  }
}

/* ------------------- Night Theme ------------------- */

@media (prefers-color-scheme: dark) {
  html {
    /*
      AI image
      https://www.goodfon.com/ai-art/wallpaper-iskusstvo-ii-fantastika-ai-art-arka-neon-noch-odinokaia-figu.html
    */
    background-image: url('../images/neon-sakura-ai.jpg');
  }

  header {
    background-color: rgba(18, 20, 23, 0.7);
  }

  header:first-child:before {
    background-image: url('../../images/logo_text-dark.png');
  }

  header,
  main {
    border-left: 1px solid var(--red);
    border-right: 1px solid var(--red);
  }

  main {
    border-bottom: 1px solid var(--red);
  }

  body main,
  table th,
  table td {
    color: var(--gray-50);
    background-color: var(--gray-900);
  }

  body.landing .index-wrapper section {
    border-radius: 0;
    border: 0.1rem solid var(--red-700);
    background-color: var(--gray-700);
  }
  

  div.quick-access {
    background: linear-gradient(
      to bottom,
      rgb(18, 19, 20) 0%,
      rgb(18, 19, 20) 30%,
      rgba(18, 19, 20, 0) 100%);
  }

  section:target,
  div:target,
  p:target,
  tr:target td, tr:target th {
    background-color: var(--red-900);
  }

  h1, h2 { color: var(--gray-50); }

  a { color: var(--gray-50); }
  a:link { text-decoration-color: var(--red-500); }
  a:visited { text-decoration-color: #A52183; }
  a:focus:link,
  a:focus:visited {
    outline: none;
    border: none;
    color: var(--gray-25);
    background-color: var(--red-500);
    text-decoration-color: var(--red-700);
  }

  ::selection {
    color: var(--gray-700);
    background: var(--gold-500);
  }

  ul.breadcrumb {
    li { color: var(--red-300); }
    li+li:before { color: var(--red); }
  }

  ul.quick-access-links {
    background-color: var(--gray-700);

    li {
      color: var(--gray-100);

      a {
        color: var(--gray-25);
        text-decoration: none;
      }
      a:hover:link, a:hover:visited {
        text-decoration: underline 0.15rem;
        text-decoration-color: var(--red-500);
      }
      a:focus:link, a:focus:visited {
        color: var(--gray-25);
        background-color: var(--red-500);
      }
    }

    li+li:before {
      color: var(--gray-300);
    }
  }

  table.basic-table {
    thead th {
      background: var(--red-700);
      color: var(--gray-100);
      a { color: var(--red-100); }
    }
    tfoot {
      background: var(--gold-700);
    }
  }

  table.border-all { /* border on all cells */
    border-collapse: collapse;
    td, th { border: 0.11rem solid var(--gray-500); }
  }

  table.border-row { /* border on rows only */
    border-collapse: collapse;
    border: 0.11rem solid var(--gray-500);
    td, th {
      border-top: 0.11rem solid var(--gray-500);
      border-bottom: 0.11rem solid var(--gray-500);
    }
  }

  table.border-simple { /* border on "sections" only */
    border-collapse: collapse;
    border: 0.11rem solid var(--gray-500);
    thead, tbody, tfoot { border: 0.11rem solid var(--gray-500); }
    td, th { border: none; }
  }

  table.alt-rows { /* alternating rows */
    tbody tr:nth-child(even) th,
    tbody tr:nth-child(even) td {
      background: var(--gray-800);
    }
  }
  .highlighted.red, tr.highlighted.red td {
    background-color: var(--red-700);
    color: var(--red-100);
  }
  .highlighted.copper, tr.highlighted.copper td {
    background-color: var(--copper-700);
    color: var(--copper-100);
  }
  .highlighted.blue, tr.highlighted.blue td {
    background-color: var(--blue-700);
    color: var(--blue-100);
  }
  .highlighted.iris, tr.highlighted.iris td {
    background-color: var(--iris-700);
    color: var(--iris-100);
  }

  details {
    background-color: var(--gray-900);
    border: 0.15rem solid var(--gray-700);

    summary {
      background-color: var(--gray-700);
    }

    summary::marker {
      color: var(--red-500);
    }
  }
}

/* ----------------- Mini Calendars ----------------- */

.mini-cal {
  th, td {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.2rem;
  }
  th.week-num,
  td.week-num {
    text-align: left;
    width: 4rem;
  }
  .mon, .tue, .wed, .thu, .fri, .sat, .sun {
    width: 2rem;
  }
  .day-of-month {
    position: relative;
    display: block;
    box-sizing: border-box;
    line-height: 1.8rem;
    width: 2rem;
    height: 2rem;
    z-index: 1;
  }
  .day-of-month.event-day {
    border-bottom: 0.2rem solid var(--accent-500);
  }
  .day-of-month.event-start,
  .day-of-month.event-end {
    border-bottom: 0.1rem solid var(--accent-300);
  }
  .day-of-month.throne-day {
    border-bottom: 0.2rem solid var(--red-500);
  }
  .day-of-month.today:before {
    position: absolute;
    display: block;
    content: "";
    font-size: 0.8rem;
    border-radius: 0.9rem;
    /* border: 0.2rem solid var(--red-500); */
    width: 1.8rem; height: 1.8rem;
    left: 0.1rem; top: 0.1rem;
    background-color: light-dark(var(--red-500), var(--red-700));
    z-index: -1;
  }
  .mo2 {
    background-color: light-dark(var(--gray-50), var(--gray-700));
  }
}

.calContainer {
  margin: 0 0 4rem 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 1rem;
  h2, h3 {
    margin: 0;
    padding: 0;
  }
}

/* -------------------- Tooltips -------------------- */

.hero-name[image-hint],
.tip-container {
  position: relative;
  display: inline-block;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2rem;
}

.tip-container .image-tip img {
  max-width: 10rem;
  height: auto;
  margin: 0;
}

.tip-container .image-tip img.icon {
  width: 2.6rem;
}

.tip-container .image-tip,
.tip-container .text-tip {
  display: block;
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 50%;
  transform: translate(-50%);
  background: light-dark(var(--gray-100), var(--gray-100));
  color: light-dark(var(--gray-900), var(--gray-900));
  padding: 0.25rem;
  border-radius: 0.2rem;

  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease-in-out 0.4s;
}

.tip-container .text-tip {
  max-width: 18rem;
  min-width: 10rem;
  text-decoration-line: none;
}

.tip-container:focus .image-tip,
.tip-container:focus .text-tip,
.tip-container:hover .image-tip,
.tip-container:hover .text-tip {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}

/* --------------- Heroes & Elements  --------------- */

.hero-avatar {
  &.n   { border-color: #AFE0A8;}
  &.r   { border-color: #95C1EE;}
  &.sr  { border-color: #C297DE;}
  &.ssr { border-color: #E9ED65;}
  &.blank { background: transparent; }
  &.blank.ssr {
    background: linear-gradient(-45deg, #FF9927 0%, #D5793F 100%);
  }
}

.hero-name.archer {
  text-decoration-color: #DA9D2A;
  /* color: light-dark(#6D4F15, #E9C47F); */
}
.hero-name.fire {
  text-decoration-color: #FC4614;
  /* color: light-dark(#7E230A, #FD9072); */
}
.hero-name.ice {
  text-decoration-color: #2DAEFF;
  /* color: light-dark(#175780, #81CEFF); */
}
.hero-name.goblin {
  text-decoration-color: #2DAEFF;
  /* color: light-dark(#18743B, #83F1AD); */
}
