
.section.tutorial.grid .image-box {
  img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 700px) {
  .section.tutorial.grid {
    display: grid;
    max-width: 60rem;
    gap: 1rem;
    margin: 0;
    margin-block-end: 1rem;

    h2 {
      margin-block-start: 0;
      margin-top: 0;
      padding-top: 0;
    }

    &.grid-1-1 { grid-template-columns: 1fr 1fr; }
    &.grid-2-1 { grid-template-columns: 2fr 1fr; }
    &.grid-3-2 { grid-template-columns: 3fr 2fr; }

    &.stagger {
      .image-box { order: 2; }
      .content-box { order: 1; }
    }

    &.grid-2-1.stagger { grid-template-columns: 1fr 2fr; }
    &.grid-3-2.stagger { grid-template-columns: 2fr 3fr; }
  }

  .image-box {
    text-align: center;
  }
}
