ul.tag-list {
  list-style-type: none;
  margin: 0 1rem 0 1rem;
  padding: 0;
}
  
ul.tag-list li {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  margin: 0.2rem;
  background-color: #285d8a;
  color: #7ac1eb;
  font-size: 0.9rem;
}

ul.tag-list li { background-color: #285d8a; color: #7ac1eb; }
ul.tag-list li.top50  { background-color: #ae5b21; color: #f6db79; }
ul.tag-list li.top100 { background-color: #75338d; color: #d386d4; }

ul.tag-list li:hover { background-color: #7ac1eb; color: #285d8a; }
ul.tag-list li.top50:hover  { background-color: #f6db79; color: #ae5b21; }
ul.tag-list li.top100:hover { background-color: #d386d4; color: #75338d; }
