
ul.server-list li {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  margin: 0.2rem;
  background-color: #285d8a;
  color: #7ac1eb;
}

ul.server-list li.top50 {
  background-color: #ae5b21;
  color: #f6db79;
}

ul.server-list li.top100 {
  background-color: #75338d;
  color: #d386d4;
}

/*
 green : 28501f 3b7b2b 5db552 72cf6c
 blue  : 182a3b 285d8a 448bd1 7ac1eb
 purple: 522c60 75338d 8d42a1 d386d4
 gold  : 644625 ae5b21 e0bb50 f6db79
 gray  : 1d2231 3a4361 485363 638ad3
*/