.releases {
  column-width: 12rem;
  column-gap: 1rem;

  h2 {
    margin-block-end: 0;
    margin-top: 0;
  }
}

.release-phase {
  page-break-inside: avoid;
  break-inside: avoid-column; 
}

.name-list {
  line-height: 1.8rem;
  margin-block-start: 0.2rem;
  margin-block-end: 0.8rem;

  .hero-name {
    display: inline;
    margin: 0;
    margin-right: 0.5rem;
  }
}

.avatar-list {
  line-height: 3.8rem;
  margin-block-start: 0.2rem;
  margin-block-end: 0.8rem;  

  .hero-avatar {
    margin: 0;
    margin-right: 0.5rem;
    width: 3rem !important;
    height: 3rem !important;
  }

  .hero-avatar ~ .hero-avatar { margin-left: 0 !important; }
}
