.esi-table {
  width: 100%;
  max-width: 40rem;
  table-layout: fixed;

  border-collapse: collapse;
  td, th { border: 0.11rem solid var(--dark-neutral); }

  th { background-color: var(--neutral); color: white; }
  th.elite-spirit { background-color: var(--purple); }
  th.boss-spirit { background-color: var(--miku-red); }

  /* .normal-spirit {} */

  td.boss-spirit,
  td.elite-spirit { font-weight: bold; }

}