.fixed,
.fixed td {
  background-color: var(--pale-primary-4);
}

.group-based,
.group-based td {
  background-color: var(--pale-primary-3);
}

.season-based,
.season-based td {
  background-color: var(--pale-primary-2);
}

.mixed td {
  background: repeating-linear-gradient(
    -45deg,
    var(--pale-primary-3),
    var(--pale-primary-3) 0.3rem,
    white 0.3rem,
    white 0.5rem,
    var(--pale-primary-2) 0.5rem,
    var(--pale-primary-2) 0.8rem,
    white 0.8rem,
    white 1rem
  );
}