.template-list-container {
  column-width: 18rem;
}

ul.template-list {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;

  li {
    list-style: none;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  li.notice:before {
    content: "N";
    background-color: var(--primary-1);
  }

  li.mail:before {
    content: "M";
    color: white;
    background-color: var(--primary-3);
  }

  li:before {
    display: inline-block;
    width: 1rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: normal;
    font-style: normal;
    border-radius: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.1rem;
    vertical-align: middle;
  }
}

#input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 12rem;
  /* max-width: 80%; */
  padding: 0.8rem;
  margin-right: auto;
  margin-left: auto;
  background-color: light-dark(white, var(--gray-900));
  color: light-dark(var(--gray-900), var(--gray-300));
  border: 0.1rem solid light-dark(var(--gray-500), var(--gray-500));
  outline: none;
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  resize: vertical;
}

#input.preview-pending {
  outline: 0.2rem solid var(--gold-500);
}

#output {
  min-height: 12rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.8rem;
  font-size: 1rem;
  border: 0.1rem solid light-dark(var(--gray-500), var(--gray-500));
}

.output-example.mail,
#output.mail {
  background-color: #c6d4e1;
  color: #60646f;
  font-size: 16px; /* = 40 * 4 /10 */
}

.output-example.announcement,
#output.announcement {
  background-color: #283b5c;
  color: #7c9fdf;
  font-size: 12px; /* = 30 * 4 / 10 */
}

.output-example.notice,
#output.notice {
  background-color: #fcefbb;
  color: #b48058;
  font-size: 12px; /* = 30 * 4 / 10 */
}

#output {
  position: relative;;
}

#output.error {
  background-color: light-dark(white, var(--gray-900));
  color: light-dark(var(--gray-900), var(--gray-300));
  border: 0.1rem solid light-dark(var(--red-500), var(--red-500));
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;

  .message:before {
    content: "Error: ";
    color: light-dark(var(--red-500), var(--gold-500));
  }

  .details {
    background-color: light-dark(var(--gray-50), var(--gray-700));
    margin-block-start: 0.5rem;
    padding: 0.5rem;
    font-family: "Fira Mono", monospace;
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  .highlighted-error {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: light-dark(var(--red-500), var(--gold-500));
  }
}
