/* Styles for gear pages (Armors, Weapons, Magic Stones, & Summon Monsters) */

@media screen and (width < 480px) { /* Mobile */
}

@media screen and (width >= 480px) { /* Tablet */
  section.gear-overview {
    margin-block-start: 0;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5rem;

    .gear-list,
    .gear-stats {
      margin-block-start: 0;
      margin-block-end: 0.4rem;
      break-inside: avoid;
    }
  }
}

@media screen and (width >= 760px) { /* Small screen */
}

@media screen and (width >= 880px) { /* Medium screen */
}
