.template-list-container {
  column-width: 18rem;
}

ul.template-list {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;

  li {
    list-style: none;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  
  li.notice:before {
    content: "N";
    background-color: var(--primary-1);
  }
  
  li.mail:before {
    content: "M";
    color: white;
    background-color: var(--primary-3);
  }
  
  li:before {
    display: inline-block;
    width: 1rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: normal;
    font-style: normal;
    border-radius: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.1rem;
    vertical-align: middle;
  }
}


#input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 8rem;
  /* max-width: 80%; */
  padding: 0.8rem;
  margin-right: auto;
  margin-left: auto;
  border: 0.1rem solid var(--neutral);
  outline: none;
  resize: vertical;
}

#output {
  min-height: 8rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.8rem;
  font-size: 1rem;
  border: 0.1rem solid var(--neutral);
  background-color: var(--pale-neutral);
}

#output.mail {
  background-color: #c6d4e1;
}

#output.message {
  background-color: #283b5c;
  color: #7c9fdf;
}

#output.error {
  background-color: var(--miku-gold) !important;
  color: var(--miku-red) !important;
}

.editor-button {
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--miku-red);
  background-color: white;
  margin: 0 0.1rem;
  padding: 0.4rem;
}

.color-chip {
  display: inline-block;
  width: 4rem;
  text-align: center;
  margin: 0 0.2rem 0.2rem 0;
  background-color:#999;
  padding:0.2rem;
}