
#input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
  height:8rem;
  /* max-width: 80%; */
  padding: 0.8rem;
  margin-right: auto;
  margin-left: auto;
  border: 0.1rem solid var(--neutral);
  outline: none;
  resize: none;
}

#output {
  min-height: 8rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.8rem;
  font-size: 1rem;
  border: 0.1rem solid var(--neutral);
  background-color: var(--pale-neutral);
}

#output.mail {
  background-color: #c6d4e1;
}

#output.message {
  background-color: #283b5c;
  color: #7c9fdf;
}

#output.error {
  background-color: var(--miku-gold) !important;
  color: var(--miku-red) !important;
}

.editor-button {
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--miku-red);
  background-color: white;
  margin: 0 0.1rem;
  padding: 0.4rem;
}
