html {
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  margin: 0;
} 

main {
  margin: 1rem;
}

body.landing {
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: 10% 10%;
  background-attachment: fixed;
}

body.landing main {
  position: absolute;
  background-color: #e8c3d3;
  border: 0.2rem #fec728 solid;
  border-radius: 1rem;
  margin: 2rem 2rem 2rem 30%;
  padding: 1rem;
}

body.landing #header {
  background: linear-gradient(
    to bottom,
    #ffffff66 0%,
    #ffffff66 60%,
    #b42328 60%,
    #b42328 100%
    );
}

#header {
  margin: 0;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  height: 4.8rem;
  background: linear-gradient(
    to bottom,
    #ffffff66 0%,
    #ffffff66 60%,
    #b42328 60%,
    #b42328 64%,
    #ffffff66 64%,
    #ffffff66 100%
    );
}

#header:before {
  position: relative;
  float: left;
  top: 0;
  content: "";
  background: white url('../images/katana-stand-150.png') no-repeat;
  background-position: center;
  /* background-size: contain; */
  background-size: 6rem auto;
  border: #b42328 0.2rem solid;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
}

#site-heading-wrapper {
  display: flex;
  height: 3rem;
  padding: 0 0 0 0.5rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#site-heading {
  padding: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #b42328;
}

#breadcrumb-wrapper {
  display: flex;
  height: 1.8rem;
  padding: 0 0 0 0.5rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#breadcrumb-wrapper nav {
  display: block;
  font-size: 0.9rem;
}

#breadcrumb-wrapper nav .link {
  color: #b42328;
  text-decoration: underline solid;
}

#breadcrumb-wrapper nav .chevron {
  color: #ea3033;
}

#breadcrumb-wrapper nav .current {
  color: #7c1a20;
}

ul.butterfly {
	margin: 0;
  padding: 0 0 1rem 0;
}

ul.butterfly li {
	margin: 0;
	padding: 0.2rem 0.2rem 0.2rem 1.5rem;
	list-style: none;
	background-image: url("../images/butterfly-red.svg");
	background-repeat: no-repeat;
	background-position: left 0.5rem;
	background-size: 1rem;
}

a {
  color: #b42328;
  text-decoration: underline double;
}

div.info-box {
  background: #e8c3d3;
  border-radius:0.5rem;
  padding: 0.5rem;
}

#main-content {
  background: #fadfdfe0;
  border-radius: 2rem;
  padding: 1rem;

  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
}

nav#nav-bar {
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #182a3b;
  color: white;
}

nav#nav-bar a { color: #7ac1eb; }

h1 {
  font-size: 2rem;
}

/*
h1:before {
  content: "";
  display: inline-block;
  background: url('../images/katana-stand-150.png') no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 3.9rem;
  height: 2rem;
  margin: 0;
}
*/

[data-tooltip] {
  position: relative;
}

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease-in-out 0.4s;
}

[data-tooltip]:before {
  content: " ";
  height: 0;
  width: 0;
  top: calc(100% - 1rem);
  border-style: solid;
  border-width: 1rem;
  border-color: transparent transparent #333 transparent;
  z-index: 99;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  /* white-space: nowrap; */
  background: #333;
  min-width: 8rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  top: calc(100% + 0.9rem);
  color: #fff;
  border-radius: 0.5rem;
  text-shadow: 0px 1px 1px #000;
  z-index: 99;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}

.avatars {
  margin: 0.5rem 0.5rem 0.5rem 2rem;
  height: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.avatars .avatars-item {
  margin-left: -1rem;
  z-index: 1;
}

.avatars-item {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-size: contain;
  box-shadow: 0 0 0 0.2rem #fff;
}

.catherine { background-image: url('../images/G-Catherine.png'); }
.guren { background-image: url('../images/G-Guren.png'); }
.pythia { background-image: url('../images/G-Pythia.png'); }
.rosamond { background-image: url('../images/G-Rosamond.png'); }
.wendy { background-image: url('../images/G-Wendy.png'); }

.ariza { background-image: url('../images/A-Ariza.png'); }
.arthur { background-image: url('../images/A-Arthur.png'); }
.arwyn { background-image: url('../images/A-Arwyn.png'); }
.bella { background-image: url('../images/A-Bella.png'); }
.collin { background-image: url('../images/A-Collin.png'); }
.fatima { background-image: url('../images/blank-avatar.png'); }
.gabriel { background-image: url('../images/A-Gabriel.png'); }
.harold { background-image: url('../images/A-Harold.png'); }
.jennifer { background-image: url('../images/A-Jennifer.png'); }
.kadir { background-image: url('../images/A-Kadir.png'); }
.livia { background-image: url('../images/A-Livia.png'); }
.meg { background-image: url('../images/A-Meg.png'); }
.montag { background-image: url('../images/A-Montag.png'); }
.oneil { background-image: url('../images/A-ONeil.png'); }
.padme { background-image: url('../images/A-Padme.png'); }
.pan { background-image: url('../images/A-Pan.png'); }
.ptolemy { background-image: url('../images/A-Ptolemy.png'); }
.richard { background-image: url('../images/A-Richard.png'); }
.sabastian { background-image: url('../images/A-Sabastian.png'); }
.sahar { background-image: url('../images/A-Sahar.png'); }
.torvi { background-image: url('../images/A-Torvi.png'); }
.trist { background-image: url('../images/A-Trist.png'); }

.allen { background-image: url('../images/F-Allen.png'); }
.anko { background-image: url('../images/blank-avatar.png'); }
.apollo { background-image: url('../images/F-Anko.png'); }
.brie { background-image: url('../images/blank-avatar.png'); }
.christie { background-image: url('../images/F-Christie.png'); }
.cosette { background-image: url('../images/F-Cosette.png'); }
.dain { background-image: url('../images/blank-avatar.png'); }
.dean { background-image: url('../images/blank-avatar.png'); }
.dolvar { background-image: url('../images/F-Dolvar.png'); }
.erika { background-image: url('../images/F-Erika.png'); }
.giselle { background-image: url('../images/F-Giselle.png'); }
.gro { background-image: url('../images/F-Gro.png'); }
.kenshiro { background-image: url('../images/blank-avatar.png'); }
.kris { background-image: url('../images/F-Kris.png'); }
.miku { background-image: url('../images/blank-avatar.png'); }
.ophelia { background-image: url('../images/F-Ophelia.png'); }
.paul { background-image: url('../images/F-Paul.png'); }
.penny { background-image: url('../images/F-Penny.png'); }
.samar { background-image: url('../images/blank-avatar.png'); }
.simon { background-image: url('../images/blank-avatar.png'); }
.tracy { background-image: url('../images/F-Tracy.png'); }
.vanessa { background-image: url('../images/blank-avatar.png'); }
.wallis { background-image: url('../images/F-Wallis.png'); }
