html {
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: 10% 10%;
  background-attachment: fixed;
}

#main-content {
  background: #fadfdfcc;
  border-radius: 2rem;
  padding: 1rem;

  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  overflow: auto;
}
