.credit {
  color: light-dark(var(--gray-700), var(--gray-300));
  font-style: italic;
}

.march-example {
  margin-block-start: 0;

  h3.role {
    font-size: 1rem;
    font-weight: 500;
    margin-block-start: 0;
    margin: 0 0.4rem 0.2rem 0;
    padding: 0.1rem;
    border: 0.1rem solid;
    border-color: light-dark(var(--gray-500), var(--gray-500));
    background-color:  light-dark(var(--gray-100), var(--gray-700));
    width: 4rem;
    float: left;
    clear: none;
  }

  h3.role.hunter {
    border-color: light-dark(var(--blue-500), var(--blue-500));
    background-color:  light-dark(var(--blue-100), var(--blue-700));
  }
  h3.role.warrior {
    border-color: var(--primary-1);
    background-color: var(--pale-primary-1);
    border-color: light-dark(var(--sand-500), var(--sand-500));
    background-color:  light-dark(var(--sand-100), var(--sand-700));
  }
  h3.role.gold {
    border-color: light-dark(var(--jade-500), var(--jade-500));
    background-color: light-dark(var(--jade-100), var(--jade-700));
  }

  .config-box {
    padding: 0;
    min-height: 5rem;
  }
}

.march-example ~ .march-example {
  margin-block-start: 1rem;
  border-top: 0.1rem dashed light-dark(var(--gray-300), var(--gray-500));
  padding-top: 1rem;
}

#march-2, #march-4 {
  background-color: light-dark(var(--gray-25), var(--gray-800));
}

@media (min-width: 600px) {
  .march-example {
    display: grid;
    grid-template-columns: 18rem auto;
    max-width: 60rem;
    gap: 1rem;
    margin: 0;
    margin-block-end: 1rem;

    .config-box {
      padding: 0;
    }
    .content-box {
      padding: 0;
    }
    .content-box p:first-of-type {
      margin-block-start: 0;
    }

    &.stagger {
      .config-box { order: 2; text-align: right;}
      .content-box { order: 1; }
      grid-template-columns: auto 18rem;
      /* h3 { float: right; } */
    }
  }
}

.march {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.6rem;

  .march-note {
    flex: 1 0 0;
    min-width: 10rem;
    align-items: start;
  }
  .march-note > *:first-child {
    margin-block-start: 0;
  }
}

.march-table table {
  tbody th {
    text-align: center;
    vertical-align: middle;
  }
  tfoot {
    font-size: 1rem;
  }
  .config-col { min-width: 5rem; }
  .hero-col { width: 7rem; }
}
