.tech-upgrade-table {
  display: grid;
}

@media screen and ( width >= 680px) {
  .tech-upgrade-table {
    grid-template-columns:
      3.2rem [from-level]
      1.4rem [chevron]
      3.2rem [to-level]
      auto [cost-1];
  }
}

@media screen and ( width >= 900px) {
  .tech-upgrade-table {
    grid-template-columns:
      3.2rem [from-level]
      1.4rem [chevron]
      3.2rem [to-level]
      auto [cost-1];

    .from-level:before { content: "Lv. "; }
    .to-level:before { content: "Lv. "; }
  }
}

@media screen and (width < 680px) {
  .tech-upgrade-table {
    grid-template-columns:
      1.4rem [chevron]
      4.6rem [to-level]
      auto [cost-1];

    .from-level { display: none; }
  }
}

