@media screen and (width < 480px) { /* Mobile */
}

@media screen and (width >= 480px) { /* Tablet */
  dl.tech-list > dd > ul {
    margin-block-start: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    list-style: none;
    padding-left: 0;
  }

  dl.tech-list > dd > ul > li,
  dl.tech-list > dd > ul > li ~ li {
    margin-block-start: 0;
  }

  dl.tech-list > dd > ul > li {
    padding: 0.6rem;
    border-width: 0.1rem 0.1rem 0.1rem 0.4rem ;
    border-style: solid;
    border-color: var(--gray-500);
    &.population-tech { border-left-color: #3396AA; }
    &.gathering-tech { border-left-color:  #405A1A; }
    &.gold-tech { border-left-color:  #E1991A; }
    &.expansion-tech { border-left-color:  #001FC1; }
    &.protection-tech { border-left-color:  #E97300; }
    &.gift-tech { border-left-color: #4B1C9A; }
    &.capacity-tech { border-left-color:  #8741E0; }
    &.recovery-tech { border-left-color:  #249B26; }
    &.march-tech { border-left-color:  #5EB0B9; }
    &.power-tech { border-left-color:  #FD6800; }
  }
}

@media screen and (width >= 760px) { /* Small screen */
}

@media screen and (width >= 880px) { /* Medium screen */
  dl.tech-list > dd > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* .tech-upgrade-detail {
  width: 52rem;
} */

dt { color: var(--gray-300); }
