.server-mapping-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th, td {
    color: var(--gray-700);
    background-color: white;
    border: 0.11rem solid var(--gray-500);
  }

  thead th {
    background: var(--gray-100);
    color: var(--gray-900);
  }
  thead th.prev-season {
    color: var(--gray-500);
  }
  tbody td.prev-season {
    color: var(--gray-500);
  }
  td div:not(:last-child) { margin-block-end: 0.5rem; }
}

.season-tag {
  display: inline-block;
  padding: 0.1rem;
  vertical-align: middle;
  background-color: var(--gray-100);
  color: var(--gray-900);
}
.season-tag.frozen {
  background-color: var(--blue-100);
  color: var(--blue-700);
}
.prev-season {
  .season-tag {
    color: var(--gray-500);
  }
  .season-tag.frozen {
    color: var(--gray-500);
  }
}

@media (prefers-color-scheme: dark) {
  .server-mapping-table {
    th, td {
      color: var(--gray-50);
      background-color: var(--gray-700);
    }
    thead th.curr-season {
      background: var(--red-700);
      color: var(--gray-100);
    }
    thead th.prev-season {
      background: var(--red-900);
      color: var(--gray-300);
    }
    tbody td.prev-season {
      background: var(--gray-900);
      color: var(--gray-300);
    }
  }

  .season-tag {
    display: inline-block;
    padding: 0.1rem;
    background-color: var(--gray-500);
    color: var(--gray-50);
    vertical-align: middle;
  }
  .season-tag.frozen {
    background-color: var(--blue-500);
    color: var(--blue-100);
  }
  .prev-season {
    .season-tag {
      background-color: var(--gray-700);
      color: var(--gray-100);
    }
    .season-tag.frozen {
      background-color: var(--blue-700);
      color: var(--blue-100);
    }
  }
}

@media screen and (min-width: 300px) {
  .season-tag:before {
    content: "S"
  }
  .year { display: none; }
}

@media screen and (min-width: 580px) {
  .season-tag:before {
    content: "Season";
    padding-right: 0.2rem;
  }
  .season-tag {
    padding: 0.1rem 0.6rem 0.1rem 0.4rem;
    clip-path: polygon(
      0 0,
      calc(100% - 0.4rem) 0,
      100% 50%,
      calc(100% - 0.4rem) 100%,
      0 100%
    );
  }  
  .year { display: inline; }
}

