
/* Override default colors */
#Tabbed-Table-Tab-List {
  a {
    color: var(--pale-neutral);
    font-weight: normal;
  }
  a.selected {
    font-weight: bold;
    color: white;
  }
}

@media screen and (min-width: 0px) { /* Small screen */
  #Tabbed-Table.view-1 .view-1 { display: table-cell; }
  #Tabbed-Table.view-1 .view-2,
  #Tabbed-Table.view-1 .view-3,
  #Tabbed-Table.view-1 .view-4,
  #Tabbed-Table.view-1 .view-5 { display: none; }

  #Tabbed-Table.view-2 .view-2 { display: table-cell; }
  #Tabbed-Table.view-2 .view-1,
  #Tabbed-Table.view-2 .view-3,
  #Tabbed-Table.view-2 .view-4,
  #Tabbed-Table.view-2 .view-5 { display: none; }

  #Tabbed-Table.view-3 .view-3 { display: table-cell; }
  #Tabbed-Table.view-3 .view-1,
  #Tabbed-Table.view-3 .view-2,
  #Tabbed-Table.view-3 .view-4,
  #Tabbed-Table.view-3 .view-5 { display: none; }
}

@media screen and (min-width: 390px) { /* Mobile */
}

@media screen and (min-width: 700px) {
  #Tabbed-Table .view-1,
  #Tabbed-Table .view-2,
  #Tabbed-Table .view-3,
  #Tabbed-Table .view-4,
  #Tabbed-Table .view-5 { display: table-cell !important; }

  #Tabbed-Table-Tab-List { display: none; }
}
