#message-input,
#message-output {
  margin: 0.2rem;
  padding: 0.5rem;
  min-height: 10rem;
  border: 0.1rem solid var(--miku-red);
  border-radius: 0.5rem;
  color: #4a4a4a;
}

#message-input {
  font-size: 1rem;
  font-family: monospace, monospace;
  /* background-color: #c6d4e1; */
  background-color: white;
  color: black;
}

#message-output {
  font-size: 1rem;
}

#message-output.mail {
  background-color: #c6d4e1;
}

#message-output.message {
  background-color: #283b5c;
}

#message-input .format-tag {
  color: var(--miku-red);
}

button.copyText {
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--miku-dark-red);
  background-color: var(--miku-red);
  color: var(--miku-gold);
  margin: 0.2rem;
  padding: 0.5rem;
}
