/* --------------------------- Events  --------------------------- */

.event-table tr td:nth-child(2),
.event-table tr th:nth-child(2) { display: none; }

@media screen and (min-width: 700px) {
  .event-table tr td:nth-child(2),
  .event-table tr th:nth-child(2) { display: table-cell; }
}

/*
.event-table {
  .main-event td { background-color: var(--pale-primary-1); }
  .minor-event td { background-color: var(--pale-primary-3); }
  .seasonal-event td { background-color: var(--pale-primary-5); }  
}
*/

/* ---------------------------- Phase ---------------------------- */
.event {
  border-style: solid;
  border-width: 0 0 0 0.3rem ;
  border-color: var(--secondary-3);
  background-color: var(--pale-secondary-3);
}

.no-event {
  font-weight: bold;
  color: var(--dark-neutral);
}

.sync {
  background: var(--miku-pale-gold);
}

.syncing {
  border-color: var(--miku-light-gold);
  background: repeating-linear-gradient(
    45deg,
    var(--pale-neutral),
    var(--pale-neutral) 0.4rem,
    var(--miku-pale-gold) 0.4rem,
    var(--miku-pale-gold) 0.8rem
  );
}

.local {
  background-color: var(--pale-neutral);
}

.fog-2 {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 0.2rem,
    var(--pale-neutral) 0.2rem,
    var(--pale-neutral) 0.3rem,
    transparent 0.3rem,
    transparent 0.6rem,
    var(--pale-neutral) 0.6rem,
    var(--pale-neutral) 0.8rem
  );
  background-blend-mode: lighten;
}

.fog-1 {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 0.3rem,
    var(--pale-neutral) 0.3rem,
    var(--pale-neutral) 0.4rem
  );
  background-blend-mode: lighten;
}

.fog-3 {
  background: var(--pale-neutral);
  background-image:
    radial-gradient(circle at center, white 24%, transparent 24%),
    radial-gradient(circle at center, white 32%, transparent 32%);
  background-size: 0.8rem 0.8rem;
  background-position: 0 0, 0.4rem 0.4rem;
}

.frozen {
  background: var(--pale-secondary-4);
  background-image:
    radial-gradient(circle at center, white 20%, transparent 20%),
    radial-gradient(circle at center, white 25%, transparent 25%);
  background-size: 0.9rem 0.9rem;
  background-position: 0 0, 0.45rem 0.45rem;
}

.calender-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
}

table.calender {
  margin-left:auto;
  margin-right:auto;

  border-collapse: collapse;

  .event-col {
    min-width: 6rem;
    width: calc(6rem + (24 - 6) * ((100vw - 300px) / (1200 - 300))) !important;
  }

  .day-col { width: 2rem; }

  tbody {
    /* the following 3 rules ensure that event box will fill the cell */
    tr { height: 1px; }
    td, th { height: inherit;}

    td > a, /* Make sure event blocks are displayed correctly on Safari */
    .day,
    .no-event,
    .event {
      display: block;
      box-sizing: border-box;
      height: 100%;
    }

    .day, .no-event, .event {
      padding: 0.25rem;
    }

    /* minimum 2-line height */
    td, th {
      line-height: 1rem;
      padding: 0.25rem;
    }

    th {
      height: 3rem;
      /* background-color: var(--miku-red); */
      /* color: white; */
      font-size: 0.9rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--dark-neutral);
    }

    th:hover .day,
    th:hover ~ td .event,
    th:hover ~ td .no-event,
    th:focus .day,
    th:focus ~ td .event,
    th:focus ~ td .no-event {
      outline: 0.2rem solid var(--light-neutral);
    }

    /* td {
      border: 0.1rem dotted var(--neutral);
    } */

    .event.continue-to-next {
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 0.5rem),
        50% 100%,
        0 calc(100% - 0.5rem)
      );
    }
    .event.continue-from-previous {
      clip-path: polygon(
        0 0,
        50% 0.5rem,
        100% 0,
        100% 100%,
        0 100%
      );
      padding-top: 1rem;
    }
    .event.continue-both-end {
      clip-path: polygon(
        0 0,
        50% 0.5rem,
        100% 0,
        100% calc(100% - 0.5rem),
        50% 100%,
        0 calc(100% - 0.5rem)
      );
      padding-top: 1rem;
    }

    .event.milestone {
      border-color: var(--miku-gold);
      background-color: var(--miku-light-gold);
      font-weight: bold;
      color: var(--miku-red);
    }
    .event.expedition {
      border-color: var(--miku-dark-red);
      background-color: var(--miku-red);
      font-weight: bold;
      color: white;
    }
    .event.unlock {
      border-color: var(--primary-1);
      background-color: var(--pale-primary-1);
    }
    .event.fog {
      border-color: var(--secondary-1);
      background-color: var(--pale-secondary-1);
    }
    .event.transfer {
      border-color: var(--primary-1);
      background-color: var(--pale-primary-1);
    }

    /* server */
    .event.lava-trial {
      border-color: var(--primary-5);
      background-color: var(--pale-primary-5);
    }
    .event.esi {
      border-color: var(--secondary-5);
      background-color: var(--pale-secondary-5);
    }
    .event.elemental {
      border-color: var(--primary-6);
      background-color: var(--pale-primary-6);
    }

    /* personal */
    .event.mightiest {
      border-color: var(--primary-4);
      background-color: var(--pale-primary-4);
    }
    .event.PC {
      border-color: var(--secondary-4);
      background-color: var(--pale-secondary-4);
    }
    .event.power {
      border-color: var(--primary-3);
      background-color: var(--pale-primary-3);
    }

    .event.wishing,
    .event.lucky,
    .event.treasure,
    .event.auction {
      border-color: var(--secondary-3);
      background-color: var(--pale-secondary-3);
    }
  }

  tbody {
    tr:last-child td,
    tr:last-child th {
      height: 3.25rem;
      padding-bottom: 0.5rem;
      /* border-top: 0.15rem dashed var(--light-neutral); */
    }
  }
  tbody ~ tbody {
    tr:first-child td,
    tr:first-child th {
      padding-top: 0.5rem;
      height: 3.25rem;
      border-top: 0.1rem solid var(--miku-red);
    }
  }
}