.collapsible-toggle {
  display: flex;
  padding: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--miku-dark-red);
  color: var(--miku-gold);
}

.collapsible-toggle button.title {
  border-radius: 0.5rem 0 0 0;
  border-color: transparent;
  background: var(--miku-dark-red);
  color: var(--miku-gold);
}

.collapsible-content {
  border: 0.1rem solid var(--miku-dark-red);
  border-radius: 0 0 0.5rem 0.5rem;
  background: linear-gradient(to bottom, #fb9145, #fb9145 2rem, white 8rem, white); 
}

.collapsible-content.collapsed {
  height: 0;
  overflow: hidden;
}

.collapsible-toggle button.title {
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform:capitalize;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.collapsible-toggle .points {
  padding: 0.5rem;
  text-align: right;
  align-self: center;
  font-size: 0.9rem;
}

.up-tab-bar .up-tab {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  border: none;
  cursor: pointer;
  color: var(--miku-gold);
  text-shadow: 0px 1px 1px #000;
  background-color: var(--miku-dark-red);
}

.up-tab-bar .up-tab:hover {
  background-color: var(--miku-red);
}

.up-tab-bar .focused,
.up-tab-bar .focused:hover {
  color: var(--miku-dark-red);
  background-color: #fb9145;
}

.up-tab svg {
  fill: var(--miku-gold);
}

.up-tab.focused svg,
.up-tab.focused:hover svg {
  fill: var(--miku-dark-red);
}

.up-tab-bar {
  margin: 0;
  background: var(--miku-dark-red);
  color: var(--miku-gold);
}

.up-tab-content {
  margin: 0;
  padding: 0.5rem;
}

.field-container {
  display: block;
  margin: 0 0 0.4rem 0;
}

.field-container .label-wrapper {
  float: left;
  margin: 0;
  padding: 0.2rem 0;
}

.field-container .value-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 0.8rem;
  row-gap: 0.5rem;
  margin: 0;
  padding: 0;
}

/*
   Small mobile screen
   Label container and value container on separate rows
 */
@media screen and (min-width: 100px) {
  .field-container {
    clear: left;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--miku-dark-red);
  }
  .field-container .value-wrapper { clear: both; }
  .field-container .label-wrapper { width: auto; }

  .input-wrapper .stone-shape { display: none; }

  #hero-upgrade-current-content .value-wrapper .input-wrapper label {
    display: inline-block;
    min-width: fit-content;
  }
}

/*
   Medium mobile screen
   Label container and value container on same row
   Narrow label container
 */

@media screen and (min-width: 390px) {
  .field-container {
    clear: left;
    padding-bottom: 0.2rem;
    border-bottom: none;
  }

  .field-container .value-wrapper { clear: none; }
  .field-container .label-wrapper { width: 10rem; padding-right: 1rem; }

  #hero-upgrade-current-content .value-wrapper .input-wrapper label {
    margin-right: 0.2rem;
    min-width: 6rem;
  }
}

/*
   Tablet screen
 */

@media screen and (min-width: 480px) {
  .field-container .label-wrapper { width: 12rem; }
  #hero-upgrade-current-content .value-wrapper .input-wrapper label {
    min-width: fit-content;
  }
}

/*
   Desktop screen
 */

@media screen and (min-width: 600px) {
  .field-container .label-wrapper { width: 14rem; }
  .input-wrapper .stone-shape { display: inline-block; }
}

@media screen and (min-width: 800px) {
  .field-container .label-wrapper { width: 18rem; }
}


/* If an input/out is paired with an icon (e.g. svg), use the wrapper to prevent line break */
.field-container .output-wrapper,
.field-container .input-wrapper {
  display: inline-block;
  margin: 0 0 0.2rem 0;
}

input[type="number"]  { width: 6rem; }
input[type="number"].max-100  { width: 4rem; }
input[type="number"].max-1k   { width: 4rem; }
input[type="number"].max-10k  { width: 6rem; }
input[type="number"].max-100k { width: 6rem; }
output.max-100  { width: 4rem; }
output.max-1k   { width: 4rem; }
output.max-10k  { width: 6rem; }
output.max-100k { width: 6rem; }

output.before { color: var(--dark-neutral); }
output.narrow-width,
output.normal-width,
output.wide-width {
  display: inline-block;
  width: fit-content;
  padding: 0 0.2rem;
  border-radius: 0;
  border-top: none;
  border-bottom: 0.1rem solid;
  border-right: none;
  border-left: none;
}

input.narrow-width { min-width: 4rem; }
input.normal-width { min-width: 6rem; }
input.wide-width   { min-width: 8rem; }
label.narrow-width, output.narrow-width  { min-width: 4rem; }
label.normal-width, output.normal-width  { min-width: 6rem; }
label.wide-width,   output.wide-width    { min-width: 8rem; }

input.hero-name { width: 8rem; }

.select-wrapper.hero-star-level { min-width: 8rem; }

input::placeholder { color: var(--neutral); }
option[disabled] { color: var(--neutral); }

output {
  display: inline-block;
  width: 8rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid;
}

.need-more {
  text-decoration: underline 0.05rem dashed var(--miku-dark-red);
  color: var(--miku-dark-red);
}

.select-wrapper.sapphire  select { background-color: #bcb7f5; border: 0.1rem solid #584be5; }
.select-wrapper.amethyst  select { background-color: #f3ddfe; border: 0.1rem solid #c353fb; }
.select-wrapper.ruby      select { background-color: #f9d5d4; border: 0.1rem solid #e02d26; }
.select-wrapper.amber     select { background-color: #f8e8cd; border: 0.1rem solid #de8b05; }
.select-wrapper.malachite select { background-color: #d9e7eb; border: 0.1rem solid #3f8899; }
.select-wrapper.emerald   select { background-color: #d7e3ce; border: 0.1rem solid #367209; }

output.sapphire  { background-color: #bcb7f5; border-color: #584be5; }
output.amethyst  { background-color: #f3ddfe; border-color: #c353fb; }
output.ruby      { background-color: #f9d5d4; border-color: #e02d26; }
output.amber     { background-color: #f8e8cd; border-color: #de8b05; }
output.malachite { background-color: #d9e7eb; border-color: #3f8899; }
output.emerald   { background-color: #d7e3ce; border-color: #367209; }

output.sapphire,
output.amethyst,
output.ruby,
output.amber,
output.malachite,
output.emerald {
  display: inline-block;
  width: 3rem !important;
}

svg.sapphire  { fill: #584be5; }
svg.amethyst  { fill: #c353fb; }
svg.ruby      { fill: #e02d26; }
svg.amber     { fill: #de8b05; }
svg.malachite { fill: #3f8899; }
svg.emerald   { fill: #367209; }

/* svg.stone-shape { width: 1.1rem; height: 1.1rem; } */
svg.stone-shape { width: 1.1rem; height: 1.1rem; }

.up-tab-bar svg.stone-shape { width: 0.9rem; height: 0.9rem; }

div.select-wrapper:before,
div.select-wrapper:after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

div.select-wrapper:before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--dark-neutral);
  top: 35%;
}

div.select-wrapper::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--dark-neutral);
  top: 60%;
}

.version-tag {
  display: inline-block;
  border: 0.1rem solid var(--miku-dark-red);
  border-radius: 0.4rem;
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
  color: var(--miku-dark-red);
}

h1 .version-tag,
h2 .version-tag {
  vertical-align: top;
  text-shadow: none;
}
