/* ---------------- Site Navigation  ---------------- */

header:first-child nav {
  display: flex;
  height: 1.8rem;
  padding: 0 0 0 0.5rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  ul.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    font-size: 0.9rem;

    li {
      display: inline;
      color: var(--miku-dark-red);
    }

    li+li:before {
      padding: 0 0.2rem 0 0;
      color: #ea3033;
      content: "\00BB";
      /* › \203A  */
      /* » \00BB  */
    }

    li:last-child {
      font-weight: bold;
    }

    a {
      color: var(--miku-red) !important;
      text-decoration: underline solid !important;
    }
  }
}

/* ------------------ Basic Format ------------------ */

main { padding: 0; margin: 0; }
main.content { margin-bottom: 10rem; }

/* Paragraph spacing */
section > p, div > p { margin-block-end: 0.8rem; }
p:last-child { margin-block-end: 0; }

/* Paddings. Needed for :target to work */
main > h1,
main > h2, main > h3,
main > h4, main > div,
main > p,
main > section {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
main > section {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  & > *:first-child { margin-block-start: 0; }
  & > *:last-child { padding-bottom: 0; }
}

/* Fixing broken UL. All <ul> should be contained by <div> */
main > ul { margin-left: 1.2rem !important; }

/* -------------------- Headings -------------------- */

@media screen and (min-width: 0px) { /* Small screen */
}

@media screen and (min-width: 390px) { /* Mobile */
}

@media screen and (min-width: 500px) {
  h1::before,
  h1::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid var(--miku-dark-red);
    width: 3rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }
}

h1 { text-align: center; }

/* --------------- Simple Text Styles --------------- */

.blue { text-decoration: underline 0.2rem var(--blue); }
.orange { text-decoration: underline 0.2rem var(--orange); }
.green { text-decoration: underline 0.2rem var(--green); }
.purple { text-decoration: underline 0.2rem var(--purple); }

/* ----------- Anchors & Focus Animation  ----------- */

section,
tr td,
tr th {
  -webkit-transition: background-color 0.5s linear;
     -moz-transition: background-color 0.5s linear;
       -o-transition: background-color 0.5s linear;
          transition: background-color 0.5s linear;
}

:target,
div:target,
p:target,
tr:target td,
tr:target th {
  background-color: var(--miku-gold);
}

/* --------- Sections & Section Navigation  --------- */

div.quick-access {
  position: sticky;
  top: 0;

  display: flex;
  height: 1.8rem;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 30%,
    /* rgba(255, 255, 255, 0.8) 50%, */
    rgba(255, 255, 255, 0) 100%);
  z-index: 99;

  ul.quick-access-links {
    margin: 0;
    display: inline-block;
    list-style: none;
    background-color: var(--neutral);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    color: white;
    
    li {
      display: inline-block;
      color: var(--light-neutral);
      margin-block-start: 0;
      margin-block-end: 0;

      a {
        color: white;
        text-decoration: none;
      }

      a[href="#"] {
        font-weight: bold;
        cursor: default;
      }

    }

    li+li:before {
      display: inline-block;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      color: var(--light-neutral);
      content: "|";
    }
  }

  a.prev, a.next {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 0.4rem 0.5rem;
    min-width: 3rem;
    color: var(--dark-neutral);
    &[href] { color: var(--miku-red); }
  }
  a.prev { text-align: right; }
}


li.prev, li.next {
  /* background-color: red; */
  a {
    color: var(--miku-gold);
    font-weight: bold;
    text-decoration: none;
  }
  a:not([href="#"]):hover,
  a:not([href="#"]):focus {
    color: var(--miku-gold);
  }
}


/* ------------------ Flex Layout  ------------------ */

div.col-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  row-gap: 0.8rem;
  padding: 0;

  .col {
    flex: 1 0 0;
    align-items: start;
  }
}

/* --------------------- Lists  --------------------- */

li > ul:first-child
li > p:first-child {
  margin-block-start: 0;
}

li ~ li { margin-block-start: 0.8rem;}

ul.butterfly {
  padding-left: 1.8rem;
}

ul.butterfly li {
  list-style-image: url("../../images/butterfly-red.svg");
  margin-bottom: 0.2rem;
}

ul.butterfly li::marker {
  font-size: 1.8em;
}

ul.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;

  li {
    display: inline;
    float: left;
    padding: 0.4rem 0.8rem;
    margin: 0 0.2rem;
    border-radius: 0.4rem;
    transition: background-color .3s;

    a {
      color: black;
      text-decoration: none !important;
    }

    &.selected {
      font-weight: bold;
      color: white;
      background-color: var(--miku-red);
    }

    &.selected a { color: white; }

    &:not(.selected):hover {
      background-color: var(--light-neutral);
    }
  }
}

ul.timeline li+li:before {
  display: inline-block;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-weight: bold;
  content: "\203A" !important
}

ul.inline-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  li { display: inline; }
}
