.skin-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}

.skin {
  border-radius: 0.4rem;
  border: 0.1rem solid var(--neutral);
  padding: 0.4rem;
}

.effects {
  padding: 0.4rem;
}

.skin.equipped {
  border: 0.15rem solid var(--miku-red);

  .skin-name:before {
    font-weight: bold;
    content: "\2714";
    padding-right: 0.5rem;
    color: var(--miku-red);
  }
}

.skin {
  .skin-heading-line {
    display: flex;
    margin-block-end: 0.5rem;
    justify-content: start; /* left */
    align-content: start; /* top */
    flex-direction: row;
  
    .skin-name {
      font-weight: bold;
      flex-grow: 1;
    }
    .skin-duration {
      flex-grow: 0;
      text-align: center;
      width: 6rem;
      border-radius: 0.5rem;
      border: 0.1rem solid black;
    }
  }
  
  .skin-stats-line {
    display: flex;
    margin-block-end: 0.5rem;
    justify-content: start; /* left */
    align-content: start; /* top */
    flex-direction: row;
  
    .stats-label {
      flex-grow: 0;
      width: 4.5rem; }
    .stats-desc {
      flex-grow: 1;
    }
    .stats-value {
      flex-grow: 0;
      text-align: right;
      width: 3rem;
    }
  }
  
  .stats-value.highlight {
    background-color: var(--miku-light-gold);
  }  
}

.effects {
  .effects-heading-line {
    margin-block-end: 0.5rem;
    font-weight: bold;
  }
  
  .effects-stats-line {
    display: flex;
    margin-block-end: 0.5rem;
    justify-content: start; /* left */
    align-content: start; /* top */
    flex-direction: row;
  
    .effects-desc {
      flex-grow: 1;
    }
    .effects-value {
      flex-grow: 0;
      text-align: right;
      width: 3rem;
    }
  }
}
