.toolbar {
  display: flex;
  align-items: start;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.2rem;

  background-color: var(--pale-neutral);

  .button-group {
    display: inline-block;
    padding: 0 0.2rem;
  }

  .button-group ~ .button-group {
    border-left: 0.1rem solid var(--light-neutral);
    padding-left: 0.2rem;
  }

  .tool-button {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--pale-neutral);
    border: 0.1rem solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all .3s ease-in;
    background-size: cover;
    background-position: center;

    .icon {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .tool-button:hover,
  .tool-button:focus {
    background-color: #a3a6a8;
  }

  .tool-button:focus {
    border: 0.1rem solid var(--dark-neutral);
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 10rem;
      background-color: var(--pale-neutral);
      box-shadow: 1px 1px 2px var(--dark-neutral);
      padding: 0.2rem;
      z-index: 1;

      a {
        color: var(--dark-neutral);
        text-decoration: none;
        padding: 0.2rem;
      }

      a[href]:hover,
      a[href]:focus {
        background-color: #a3a6a8;
      }
    }

    .dropdown-content.show {
      display:block;
    }
  }
}

.tool-button.text-color {
  background-image: url(../icons/editor-icon_text-color.png);
}
.tool-button.copy {
  background-image: url(../icons/editor-icon_copy.png);
}
.tool-button.redo {
  background-image: url(../icons/editor-icon_redo.png);
}
.tool-button.undo {
  background-image: url(../icons/editor-icon_undo.png);
}
.tool-button.text-size {
  background-image: url(../icons/editor-icon_text-size.png);
}
.tool-button.bold {
  background-image: url(../icons/editor-icon_bold.png);
}
.tool-button.italic {
  background-image: url(../icons/editor-icon_italic.png);
}

.color-chip {
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  margin: 0;
  padding: 0;
}