/*
 green : 28501f 3b7b2b 5db552 72cf6c
 blue  : 182a3b 285d8a 448bd1 7ac1eb
 purple: 522c60 75338d 8d42a1 d386d4
 gold  : 644625 ae5b21 e0bb50 f6db79
 gray  : 1d2231 3a4361 485363 638ad3
*/

table { border-collapse: collapse; position: relative;}

table.blacksmith th,
table.witchLab th {
  background: #7c1a20;
  color: #fec728;
  font-weight: normal;
  padding: 0.5rem; 
}

table.blacksmith td,
table.witchLab td {
  background: white;
  color: black;
  font-weight: normal;
  padding: 0.5rem; 
  border-top: 0.1rem solid #7c1a20;
}

table th:first-child { border-radius: 0.8rem 0 0 0; }
table th:last-child  { border-radius: 0 0.8rem 0 0; }

table thead tr th:first-child { width: 8rem; }
table thead tr th:last-child  { width: 6rem; }
table thead tr th { position: sticky; top: 0; /* Don't forget this, required for the stickiness */ }

table tbody tr:nth-child(even) { background-color: #e9e9e9; }
table tbody td:nth-child(1) { text-align: center; }
table tbody td:nth-child(2) { text-align: right; }
table tbody td:nth-child(3) { text-align: left; }
table tbody td:nth-child(4) { text-align: center; }

table tbody td.verified { color: #266033; }
table tbody td.unverified { color: #b42328; }
