table { border-collapse: collapse; position: relative;}

.power-table th,
.power-table td,
.upgrade-table th,
.upgrade-table td {
  padding: 0.1rem 0.5rem;
  font-size: 1rem;
}

.power-table,
.upgrade-table {
  border-collapse: collapse;
  border: 0.1rem solid var(--miku-dark-red);
}

.power-table th,
.upgrade-table th {
  background: var(--miku-dark-red);
  color: var(--miku-gold);
  font-weight: normal;
  padding: 0.5rem;
}

.power-table td,
.upgrade-table td {
  background: white;
  color: black;
  font-weight: normal;
  padding: 0.5rem;
}

.upgrade-table .level-col {
  width: 8rem;
  text-align: left;
}

.upgrade-table th.cost-col  { width: 8rem; }
.upgrade-table th.req-col   { width: 8rem; }
.upgrade-table th.verification-col  { width: 6rem; }

.power-table .level-col { width: 4rem; }
.power-table th.power-col  { width: 8rem; }

.power-table td.power-col,
.upgrade-table td.cost-col,
.upgrade-table td.req-col {
  text-align: right;
}

.upgrade-table td.verification-col  {
  text-align: left;
}

.unverified:before {
  content: '?';
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
  margin-right: 0.2rem;
  border: 1px dotted var(--miku-red);
  border-radius: 0.2rem;
  color: var(--miku-red);
}

.unverified {
  color: var(--miku-red);
}

.power-table thead tr th,
.upgrade-table thead tr th {
  position: sticky;
  top: 0;
}

.power-table tbody tr:nth-child(even) td,
.upgrade-table tbody tr:nth-child(even) td {
  background: var(--pale-neutral);
}

.upgrade-table tbody .missing {
  background: var(--light-primary-1);
}

.upgrade-table tbody tr:nth-child(even) .missing {
  background: var(--primary-1);
}

.power-table tfoot th,
.power-table tfoot td,
.upgrade-table tfoot th,
.upgrade-table tfoot td {
  background: var(--miku-gold);
}

.power-table .delta,
.upgrade-table .delta { font-size: 0.8rem; }

.upgrade-table .next-level {
  color: var(--neutral);
}

.unit,
.costUnit {
  color: var(--dark-neutral);
  padding-left: 0.2rem;
}

object.unit-icon { width: auto; height: 2rem; padding: 0; margin: 0;}
